<section class="content">
        <div class="container-fluid">
            <div class="profile-box" ng-class="{'srink':showProfileMenu, 'open':showProfileMenuAll}">
                <div class="profile-content">
                    <div class="profile-img">
                        <img src="#" ng-if="!NewProfileImg"/>
                        <img ng-src="{[{image_source}]}" ng-if="NewProfileImg"/>
                        <label class="overlay" ng-if="!NewProfileImg">
                            <i class="fa fa-camera"></i>
                            <input type="file" class="hidden" onchange="angular.element(this).scope().setFile(this)" file-upload/>
                        </label>
                        <div class="overlay overlay-btn" ng-if="NewProfileImg">
                            <div class="btn-over error" ng-click="cancelNewProfileImg()"><i class="fa fa-times"></i></div>
<!--                            <div class="btn-over success"><i class="fa fa-check"></i></div>-->
                        </div>
                    </div>
                    <h3>{[{profileData.fname}]} {[{profileData.lname}]}</h3>
                    <h5>{[{profileData.designation}]}</h5>
                    <div class="profile-menu">
                        <a href="" ng-click="showAllProfileMenu()">
                            <span>My Account</span>
                            <i class="caret"></i>
                        </a>
                    </div>
                </div>
                <div class="profile-wrapper">
                        <ul class="navigation">
                            <li ng-click="myprofiles()" ng-if="showProfileMenu" class="note-hidden"><a href=""><i class="fa fa-chevron-left"></i> <span>Back</span></a></li>
                            <li ng-class="{'active':myprofile}" ng-click="showmyprofile()"><a href=""><i class="icon-user"></i> <span>My Profile</span></a></li>
                            <li ng-class="{'active':showallnotification}" ng-click="showresetPassword()"><a href=""><i class="fa fa-eye"></i> <span>Reset Password</span></a></li>
                            <li ng-click="logout()"><a href="javascript:void(0);" ng-click="Logout()"><i class="icon-power"></i> <span>Logout</span></a></li>
                        </ul>
                    </div>
            </div>
            
            
            <div class="nd2" ng-show="myprofile">
                    <form name="formprofile" novalidate >
                <div class="panel fl" style="padding-bottom:12px;">
                <div class="panel-heading"><h6>Profile Info<span class="fr"><i class="icon-user"></i></span></h6></div>
                <div class="panel-body">
                    <div class="form-group" >
                        <div ng-class="{'error':formprofile.fname.$invalid && errorMsgLable}">
                            <label>First Name</label><label class="errorMsg" ng-show="formprofile.fname.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="text" class="form-control" ng-model="profileData.fname" required name="fname"/>
                        </div>
                        <div>
                            <label>Last Name</label><label class="errorMsg" ng-show="formprofile.lname.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="text" class="form-control" ng-model="profileData.lname" required name="lname"/>
                        </div>
                        <div>
                            <label>Email</label><label class="errorMsg" ng-show="formprofile.email.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="text" class="form-control" ng-model="profileData.email" ng-pattern="emailValidate" required name="email"/>
                        </div>
                        <div>
                            <label>Mobile No</label><label class="errorMsg" ng-show="formprofile.phone.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="text" class="form-control" ng-model="profileData.phone" ng-pattern="mobileValidate" string-to-number required name="phone"/>
                        </div>
                    </div>
                </div>
            </div>
                <div class="panel fr">
                <div class="panel-heading"><h6>Professional Info<span class="fr"><i class="fa fa-users"></i></span></h6></div>
                <div class="panel-body">
                    <div class="form-group">
                        <div>
                            <label>Designation</label><label class="errorMsg" ng-show="formprofile.designation.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="text" class="form-control" ng-model="profileData.designation" required name="designation"/>
                        </div>
                        <div>
                            <label>Role</label><label class="errorMsg" ng-show="formprofile.role.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="text" class="form-control" ng-model="profileData.role" disabled name="role"/>
                        </div>
                    </div>
                </div>
            </div>

               
                <div class="panel fr">
                        <div class="panel-heading">
                            <h6 class="panel-title">Alert <span class="fr"><i class="fa fa-bell-o"></i></span></h6>
                        </div>
                        <div class="panel-body">
                            <ul class="panel-list">
                                <li>Email 
                                    <span class="fr">
                                        <label class="switch">
                                            <input type="checkbox" ng-model="profileData.isMailalert" ng-true-value="'true'" ng-false-value="'false'" name="isMailalert">
                                            <span></span>
                                        </label>
                                    </span>
                                </li>
                                <li>SMS 
                                    <span class="fr">
                                        <label class="switch">
                                            <input type="checkbox" ng-model="profileData.isSmsalert" ng-true-value="'true'" ng-false-value="'false'" name="isSmsalert">
                                            <span></span>
                                        </label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    
                    
                    </div>
                <div class="clearfix"></div>
                <div class="fr" style="margin-right:8px;">
                
                    <button class="btn" type="submit" ng-click="UpdateProfile(profileData)"><i class="fa fa-save"></i> Update</button>
                </div>
                <div class="fr" ng-show="profileUpdateTrue"><p class="successMsg">Updated Successfully </p></div>
                </form>
            </div>
              
    </div>
</section>

<div class="popup" ng-class="{'open':resetOpen}">
        <div class="popup-container">
            <div class="panel">
                <div class="panel-heading">
                    <h6 class="panel-title">Reset Password <span class="fr cursor" ng-click="showresetPassword()"><i class="fa fa-times"></i></span></h6>
                </div>
                <div class="panel-body">
                    <form novalidate name="resetPasswordForm">
                        <div class="form-group">
                            <label>Password</label><label class="errorMsg" ng-show="resetPasswordForm.password.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <input type="password" class="form-control" ng-model="mpdata.password" name="password" required/>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label> <label class="errorMsg" ng-show="resetPasswordForm.confirmpassword.$invalid && errorMsgLable"> <small>!Required</small></label>
                            <label class="errorMsg" ng-show="mpdata.password != mpdata.confirmPassword" && !mpdata.confirmPassword.$pristine"> <small>Password Doesn't Match</small></label>
                            <input type="password" class="form-control" ng-model="mpdata.confirmPassword" name="confirmpassword" required/>
                        </div>
                        <div class="form-group">
                        	<p class="errorMsg">{[{errorMsg}]}</p>
                        </div>
                        <div class="tr">
                            <button class="btn w-auto" ng-click="resetPassword(mpdata)"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
