<form name="resetPasswordForm" novalidate>
    <div class="row">
        <div class="col-md-12" style="padding-top:12px">
            <div class="col-md-10" style="text-align:center;">
                <label class="devicelbl" style="font-size:16px;">Reset Password</label>
            </div>
            <div class="col-md-2 pull-right">
                <span class="close pull-right" style="cursor:pointer !important;pointer-events:all;" ng-click="vm.close()">&times;</span>
            </div>
        </div>
    </div>

    <div class="modal-body" style="height:400px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" show-errors>
                    <label class="devicelbl">Password</label>
                    <input type="password" class="form-control" name="password" minlength="8" placeholder="minimum 8 characters" ng-model="vm.user.password" password-strength="vm.user.password" required />
                    <span class="help-inline" data-ng-show='resetPasswordForm.password.$valid && resetPasswordForm.password.$dirty' data-ng-class="strength">This password is {{strength}} </span><br />
                    <span style="font-family:Roboto;font-size:12px !important;">Atleast one special char, numeric and uppercase</span>
                </div>
                <div class="form-group" show-errors>
                    <label class="devicelbl">Confirm Password</label>
                    <input type="password" class="form-control" name="cpassword" minlength="8" ng-model="vm.user.cpassword" required />
                    <span ng-if="vm.user.password && vm.user.cpassword && vm.user.password != vm.user.cpassword" style="color:red;">Password and confirm password are not the same</span>
                </div>
                <div style="text-align: center; padding-top: 12px;">
                    <input type="submit" class="btn btn-primary devicesavebutton" ng-click="vm.reset(resetPasswordForm)" value="SAVE">
                </div>
                <div style="text-align: center; padding-top: 12px;">
                    <input type="button" class="btn devicecancelbutton" ng-click="vm.cancel()" value="Cancel">
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    .modal-content {
        background-color: white;
        width: 80%;
    }

    label {
        display: inline-block;
        max-width: 100%;
        font-weight: 425 !important;
    }

    textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
        -webkit-box-shadow: inset 0 -2px 0 #91d3cf;
        box-shadow: inset 0 -2px 0 #91d3cf;
    }

    .devicesavebutton {
        width: 350px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 25px;
        padding-right: 25px;
        box-shadow: none !important;
        height: 50px;
        border-radius: 10px;
        font-size: 14px;
    }

    .devicecancelbutton {
        width: 350px;
        background-color: white;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 6px;
        box-shadow: none !important;
    }

    .modal-header {
        padding: 0px;
        background: none;
        border: none;
    }

    .addborder {
        border: 1px solid red !important;
    }

    .strong {
        color: #060;
        border-color: #0F0;
    }

    .medium {
        color: #C60;
        border-color: #FC0;
    }

    .weak {
        color: #900;
        border-color: #F00;
    }

    .strength {
        padding: 1px 10px;
        border: 2px solid;
        color: #FFF;
    }
</style>
