
<div class="modal-body" style="height: 500px;">

                <div class="close-popup-height">
                        <p class="recent-title">Connected Tag Type</p>
                        <button type="submit" class="close pull-right" ng-click="vm.ok()" style="margin-top: -45px;">&times;</button>
                </div>
    
                      
        <div ng-if="true"  class="popup-alert-height">

                <div class="recent-alr-t">
                      
                        <div google-chart chart="vm.connectedTagType" 
                            style="{{vm.connectedTagType.cssStyle}}" />

                </div>    

    
        </div>
    
               
    </div>
    