<title>Reset Password</title>
<section id="login-view" class="center-block">
    <div class="login-container panel-fullscreen-wrap">
        <div class="login-box animated fadeInDown">
        	<div class="login-body logindesign"style="width: 462px;height: 415px;margin-left: -45px;margin-top: 5px;margin-bottom: 166px;">
                <h2 style="text-align:center;font-weight:bolder;margin-top:15px;margin-bottom:30px;">Reset Password</h2>
                <form ng-submit="vm.resetpassword(vm.credentials, resetPasswordForm)" class="form-horizontal" name="resetPasswordForm" method="post" novalidate>
	                <div class="form-group" style="margin-bottom:50px;margin-left:-10px;margin-right:20px;" show-errors>
	                    <div class="col-md-12">
	                        <div class="input-group">
	                            <span class="input-group-addon"></span>
	                            <input type="password" data-ng-model="vm.credentials.newpassword" name="newpassword"
	                                   class="form-control" placeholder="New Password"
                                       ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" 
                                       ng-minlength="8" required />
	                        </div>
	                    </div>
	                    <div class="col-md-offset-2 col-sm-offset-2">
	                        <span class="help-block" ng-if="resetPasswordForm.newpassword.$error.required"></span>
	                    </div>
	                </div>
	            	<div class="form-group" style="margin-bottom:25px;margin-left:-10px;margin-right:20px;" show-errors>
	                    <div class="col-md-12">
	                        <div class="input-group">
	                            <span class="input-group-addon"></span>
                                <label class="ng-hide" 
                                ng-show="(resetPasswordForm.newpassword.$viewValue != resetPasswordForm.confirmpassword.$viewValue )&&                 !resetPasswordForm.confirmpassword.$pristine"> 
                                    <small style="color:red;">Password Doesn't Match</small>
                                </label>
                                <input type="password" data-ng-model="vm.credentials.confirmpassword" name="confirmpassword"
	                                   class="form-control" placeholder="Confirm New Password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/" 
                                       ng-minlength="8" required />
	                        </div>
	                    </div>
	                    <div class="col-md-offset-2 col-sm-offset-2">
	                        <span class="help-block" ng-if="resetPasswordForm.confirmpassword.$error.required && (resetPasswordForm.newpassword.$viewValue != resetPasswordForm.confirmpassword.$viewValue)"></span>
	                    </div>
	                </div>
	                <div class="col-md-12 button-bar-vertical" style="padding-left:30px;padding-right:30px">
	                    <button type="submit" class="btn btn-block loginvenuebold" ng-click="vm.rstpswdchngdevnt()" style="background-color: #1caf9a;border-color: #1caf9a;border-radius: 5px;font-size: 14px;color:white">SUBMIT</button>
	                </div>
                    <p style="text-align:center; font-size: 11px;"><em>(Note : Password should contain minimum of 8 characters with atleast one special char, numeric and uppercase)</em></p>
	            </form>
            </div>
        </div>
    </div>
</section>

<style>
    @media(max-width: 768px ) and (min-width: 491px ) {
        .logindesign {
            text-align: center;
            margin-left: -25px !important;
            margin-top: 20px;
        }
    }

    @media(max-width: 490px ) and (min-width: 450px ) {
        .logindesign{
            text-align:center;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 420px !important;
        }
    }

    @media(max-width: 449px ) and (min-width: 200px ) {
        .logindesign{
            text-align:center;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 375px !important;
        }
    }
    input[type="password"]::placeholder {  
        text-align: left; 
    }
    input.ng-invalid.ng-touched {
      border: 1px solid red;
    } 
</style>


