<form class="form-horizontal border-left hor-height" name="frm">
    <div class="col-md-12" style="padding-top:35px;padding-left:30px;">
        <h2 style="padding-bottom:7px; font-family: Roboto !important;"><b>{{vm.pagename}}</b> <span ng-if="vm.venueDetails!=null">({{vm.venueDetails.newUid}})</span></h2>
        <div class="panel card-height addvenuepanel" style="height:500px;overflow:auto;">
            <div class="panel-heading text-uppercase lead" style="margin-bottom:0"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " style="padding-left:35px;margin-top:30px;">
                    <h4 style="font-weight:500; margin-left: -15px;">Floorplan Details</h4>
                    <div class="form-group" show-errors style="padding-top:12px">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group">
                            <input type="text" class="form-control" name="title" style="font-size: 13px;" autocomplete="off" placeholder="Floorplan Title" alphabet data-server-validate ng-model="vm.floorplan.uid" maxlength="20" required tabindex="1">
                        </div>
                        <div class="col-md-offset-2 col-sm-offset-2">
                            <span class="help-block" ng-if="frm.title.$error.required"></span>
                        </div>
                    </div>
                    <div class="form-group" show-errors style="padding-top:12px">
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group">
                            <textarea type="text" rows="3" class="form-control" autocomplete="off" maxlength="500" style="font-size: 13px;" name="description" placeholder="Description (max 500 char)" data-server-validate ng-model="vm.floorplan.description" tabindex="3" required />
                        </div>
                        <div class="col-md-offset-2 col-sm-offset-2">
                            <span class="help-block" ng-if="frm.description.$error.required"></span>
                        </div>
                    </div>
                    <div class=" form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 removepadding" style="">
                        <ul class="nav nav-tabs" style="margin: 0px;padding: 0px;">
                            <li ng-class="vm.tabIndex==1 ? 'tabactive' : ''" ng-init="vm.tabIndex=1"><a ng-click="vm.tab(1)" data-toggle="tab" aria-expanded="false" style="background:none;border-top: none"><span style="margin-left: -15px;font-size:12px;font-weight:400;cursor:pointer">Upload Floorplan</span></a></li>
                            <li ng-class="vm.tabIndex==2 ? 'tabactive' : ''" ng-init="vm.tabIndex=1"><a ng-click="vm.drawFloorPlan()" data-toggle="tab" aria-expanded="false" style="background:none;border-top: none"><span style="margin-left: -15px;font-size:12px;font-weight:400;cursor:pointer">Draw Floorplan</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 removepadding">
                        <div id="myTabContent" class="tab-content" ng-if="vm.tabIndex==1" style="height:100px;">
                            <div ng-show="vm.uploader.isHTML5 && !vm.floorplan.imagePath" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 removepadding over-zone zone" over-class="other-over-zone" nv-file-drop="" nv-file-over="" uploader="vm.uploader"
                                 style="margin-top: 8px;border:dashed 1px grey;border-radius:5px;height:70px;text-align: center;margin-left: -16px;border-color:#d5d5d5;">
                                <input type="file" name="file" id="upload" class="inputfile" />
                                <span class="fa icon-Cloud-upload " style="vertical-align: -4px;"></span>
                                <label for="file" style="font-weight:100 !important; margin-top: 17px;">
                                    Drop files to upload, or
                                </label>
                                <label style="cursor:pointer; font-weight:100 !important;color:deepskyblue;">
                                    <input id="debitFormId" name="fileInput1" type="file" class="btnfile"
                                           nv-file-select="" ng-click="vm.clearControl()"
                                           nv-file-drop="" nv-file-over="" uploader="vm.uploader" />
                                    Browse
                                </label>
                            </div>
                            <div ng-show="vm.floorplan.imagePath" style="margin-left:-13px;">
                                <img id="preview" src="{{vm.floorplan.imagePath}}" width="100px" height="100px" alt="Image preview...">
                                <br />
                                <br />
                                

                                <div class="col-md-2">
                                    <i class="fa icon-Cloud-upload" style="margin-left:-14px">&nbsp;</i>
                                </div>
                                <div class="col-md-4">
                                    <a ng-show="vm.floorplan.imagePath" href="" class="btn-link" ng-click="vm.clearControl()" style="color:deepskyblue;font-weight:300;margin-left:-30px;"> Change</a>
                                    <canvas id="myCanvas" width=100 height=100 style="display:none" />
                                </div>


                            </div>
                        </div>
                        <div id="myTabContent" class="tab-content" ng-if="vm.tabIndex==2" style="height:100px;">
                            <div class="" style="margin-top:25px;border:dashed 1px grey;border-radius:5px;height:70px;width:350px;margin-left:-30px;border-color:#d5d5d5;">
                                <a class="" style="margin-top:20px;margin-left:150px;color:#8b91a0;">
                                    <label for="file" style="font-weight:100 !important;">Loading...</label>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left:-45px;width:500px;">
                        <br />
                        <br />
                        <h4 style="font-weight:bolder; margin-left: 13px;">Built-up Area Dimensions <span style="font-weight:400; color:black;">(Optional)</span></h4>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Width</label>
                            <input disabled type="text" class="form-control" name="Width" placeholder="Width" data-server-validate ng-model="vm.floorplan.width" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Height</label>
                            <input disabled type="text" class="form-control" name="Height" placeholder="Height" data-server-validate ng-model="vm.floorplan.height" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>Meter</label>
                            <input disabled type="text" class="form-control" name="Meter" placeholder="Meter" data-server-validate ng-model="vm.floorplan.meter" />
                        </div>
                    </div>
                    <div class="button-bar pull-left buttonsavecancel" style="padding-top:40px;margin-left: -20px;margin-bottom:40px;">
                        <input type="button" class="btn" ng-click="vm.cancel()" value="Cancel" style="width: auto;border: 1.5px solid #999999;background-color: white;color: #888;padding-left: 16px;padding-right: 16px;border-radius:6px;box-shadow: none !important;"> &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn btn-primary" ng-click="vm.save(frm)" value={{vm.buttonName}} style="width: auto;padding-top: 6px;padding-bottom: 6px;padding-left: 25px;padding-right: 25px;box-shadow: none !important;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .other-over-zone {
        background-color: moccasin;
    }

    .over-zone {
        border: 2px dashed lavender;
        height: 100px;
        padding: 4px;
    }

    @media(max-width: 768px ) and (min-width: 201px ) {
        .addvenuepanel {
            height: 700px !important;
        }

        .buttonsavecancel {
            padding-top: 0px !important;
        }
    }

    @media(max-width: 768px ) and (min-width: 501px) {
        .mapwidth {
            width: 110% !important;
            margin-left: -45px !important;
        }
    }

    @media(max-width: 500px ) and (min-width: 201px ) {
        .mapwidth {
            width: 115% !important;
            margin-left: -50px !important;
        }
    }

    .nav-tabs > li.tabactive > a, .nav-tabs > li.tabactive > a:focus {
        border: none;
        -webkit-box-shadow: inset 0 -2px 0 #1caf9a;
        box-shadow: inset 0 -2px 0 #1caf9a;
        color: black;
        font-weight: 600;
    }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover {
        background-color: transparent;
        -webkit-box-shadow: inset 0 -2px 0 #1caf9a;
        box-shadow: inset 0 -2px 0 #1caf9a;
        color: black;
    }

    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
        border: none;
        color: black;
    }

    input[type="file"] {
        display: none;
    }
</style>