<meta name="viewport" content="width=device-width, initial-scale=1">
<div style="width:90%; min-width:300px; max-width:600px; margin:auto; border:1px solid rgba(183,203,216,0.7);">
    <div style="width:100%; height:60px; background-color:rgba(183,203,216,0.7); text-align:center; position:relative;">
        <a href="http://qubercomm.com"><img style="width:auto; max-height:40px; max-width:80%; position:relative; margin-top:10px;" src="http://kowinko.in/client/qubercomm/first/asset/img/logo.png"/></a>
    </div>
    <div style="padding:15px;">
        <table>
                                    <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td>M A Chidambraram Stadium</td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td>A3/12, Tristar Residency, 6th Main Road, Mogappair West</td>
                                        </tr>
                                        <tr>
                                            <td>Location:</td>
                                            <td>Chennai, India</td>
                                        </tr>
                                        <tr>
                                            <td>Postal Code:</td>
                                            <td>600 037</td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td>Enterprises</td>
                                        </tr>
                                        <tr>
                                            <td>Package:</td>
                                            <td>Gateway + Public Cloud</td>
                                        </tr>
                                        <tr>
                                            <td>Solution:</td>
                                            <td>Gateway + Location</td>
                                        </tr>
                                        <tr>
                                            <td>Gateway:</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>Agreement Date:</td>
                                            <td>21st Oct 2016</td>
                                        </tr>
                                        <tr>
                                            <td>Expires on:</td>
                                            <td>20th Oct 2018</td>
                                        </tr>
                                        <tr>
                                            <td>Contract Period:</td>
                                            <td>24 Months</td>
                                        </tr>
                                        <tr>
                                            <td>Qubercomm Assit:</td>
                                            <td>Required</td>
                                        </tr>
                                        <tr>
                                            <td>Contact Person:</td>
                                            <td>Mr. Jack, <small>Sr. Vice President</small></td>
                                        </tr>
                                        <tr>
                                            <td>Contact No:</td>
                                            <td>+91 86565 32292 / +91 44 4200 4200</td>
                                        </tr>
                                        <tr>
                                            <td>Role:</td>
                                            <td>Super Admin</td>
                                        </tr>
                                    </tbody>
                               </table>  
    </div>
    <div style="width:100%; height:40px; background-color:rgba(183,203,216,0.7); text-align:center; position:relative;">
        <p style="font-family:sans-serif; color:#009BC2; font-size:12px; font-weight:normal; text-align:center; line-height:16px; text-decoration:underline; display:block; padding:5px;">© 2016, Qubercomm Techonologies, All rights reserved.</p>
    </div>
</div>