<section class="content">
    <div class="container-fluid">
        <div class="floor-dashboard">
            <div class="card-view">
                <div class="heading">
                    <div class="title">
                        <i class="fa fa-toggle-on"></i> Switch-04:f0:21:00:00:02
                    </div>
<!--
                    <div class="responsive-menu">
                        <div class="responsive-icon" open="dropdown1"><i class="fa fa-ellipsis-v"></i></div>
                        <ul class="dropdown" id="dropdown1">
                            <li><a href="#/addvenue"><i class="fa fa-plus"></i> Add Floor</a></li>
                            <li><a href=""><i class="fa fa-edit"></i> Edit Floor</a></li>
                            <li><a href=""><i class="fa fa-trash"></i> Delete Floor</a></li>
                                                                <li ng-click="fullview = !fullview"><a href=""><i class="fa fa-arrows-alt"></i> Sample FullView</a></li>
                        </ul>
                    </div>
-->

                </div>
            </div>
            <div class="">
                <div class="ap-view">
                    
                     
                    <div class="w50">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Venue Tx vs Rx
                            </div>
                        </div>
                        <div class="body">
                            <canvas id="line" class="chart chart-line" chart-data="linedata.data" chart-labels="linedata.label" chart-series="linedata.series" chart-options="options" chart-colours="linedata.colours" chart-legend="true"></canvas>
                        </div>
                    </div>
                    </div>
                    <div class="w50">
                        <div class="card-view bt2 splht2">
                        <div class="heading border">
                            <div class="title theme">
                                System Health
                            </div>
                        </div>
                        <div class="body">
                            <div class="tc">
                                <div class="card-progress">
                                    <canvas class="chart" width="200" height="200" roundprogress data="value.data" label="value.label" color="value.color" linewidth="10" total="value.total"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                   
                    <div class="clearfix"></div>
                    <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Active Client
                            </div>
                        </div>
                        <div class="body">
                           <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Client</th>
                                    <th>Device Name</th>
                                    <th>IP</th>
                                    <th>Client</th>
                                    <th>Radio</th>
                                    <th>AP</th>
                                    <th>RSSi(dBm)</th>
                                    <th>Connection Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    
                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
