{{#partial "addon"}}

<div class="network-popup" style="display:none;">
	<ul>
		<li>
			<span>192.168.0.130</span>
			<a href=""><i class="fa fa-power-off"></i> Power off</a>
		</li>
		<li>
			<span>Offline</span>
			<a href=""><i class="fa fa-undo"></i> Reboot</a>
		</li>
	</ul>
</div>

{{#if SYS_WRITE}}
<div class="networkconfig" id="submenu-modal" style="display:none">
	<div class="network-popHeading">
		<label id="deviceHeading"></label>
		<span class="pull-right">
			<a href="#" onclick="javascript:$('#submenu-modal').hide();"><img src="/facesix/static/qubercomm/images/networkconfig/close.png"></a>
		</span>
	</div>
	<div class="netRoute">
		<span id="status"></span>
	</div>
	<ul>
		<li>
			<label>
				<a href="#" id="reposition-menu">
					<img src="/facesix/static/qubercomm/images/networkconfig/reposition.png">
					<span>Reposition</span>
				</a>
			</label>
			<label>
				<a href="#" id="deleteDevice">
					<i class="fa fa-power-off"></i>
					<span>Delete</span>
				</a>
			</label>
		</li>
	</ul>
</div>
{{/if}}

		<!-- <div class="newobject-modal" id='reposition-modal' style="display:none;background-color:white">
			<div class="network-popHeading">
				<label>Click save to place the element or cancel.</label>
			</div>
			<div class="login-btns text-center">
				<button class="btn btn-default btn-login" id="saveObject">
					Save
				</button>
				<button class="btn btn-default btn-forgot" id="cancelObject">Cancel</button>
			</div>
		</div> -->
		<img src="/facesix/static/qubercomm/images/cursor.png" class="hide" id="samplecursor"/>
		<div class="popup-switch hide">
			<div class="popup-form pops">
				<div class="form-heading">
					<h5>Select Parent Device</h5>
					<span>
						<img src="/facesix/static/qubercomm/images/networkconfig/close.png" alt="" class="close" onclick="$('.popup-switch').addClass('hide')">
					</span>
				</div>
				<div class="master-form">
					<script type="text/template" id="selectDevices">	
						<div class="select-style">
							<form class="sensor_form">
								<select class="form-control deviceForm" id="deviceSelect">
									<option value="Select">Select</option>
									<% _.each(options,function(option){%>
										<option value="<%= option %>" ><%= option%></option>
										<% }) %>
								</select>
								<button class="btn btn-primary btn-ok" id="<%= id %>">OK</button>
							</form>
						</div>
					</script>
				</div>
			</div>
			<span id="errorDisplay" style="margin:10px 10px 0px 0px;color:red;display:block"></span>
		</div>

		<!-- save and cancel area -->
		<div class="savearea1" id="reposition-modal" class="reposition-modal" style="display:none">
		<div class="savearea_bottom" >
			<div class="left-section">
				<label>Qubercloud</label>
				
				<p>To reposition the device, Drag to a correct location on the floorplan.</p>
				 <div class="macAddress" style="display:none;">
     <label>Enter Device Unique ID</label>
     <span>
      <form class="form-inline">
       <div class="form-group">
        <input type="text" class="form-control macId">
       </div>
       <span>:</span>
       <div class="form-group">
        <input type="text" class="form-control macId">
       </div>
       <span>:</span>
       <div class="form-group">
        <input type="text" class="form-control macId">
       </div>
       <span>:</span>
       <div class="form-group">
        <input type="text" class="form-control macId">
       </div>
       <span>:</span>
       <div class="form-group">
        <input type="text" class="form-control macId">
       </div>
       <span>:</span>
       <div class="form-group">
        <input type="text" class="form-control macId">
       </div>
      </form>
     </span>
 </div>
			</div>
 			<span id="duplicate" style="color:red;font-size:14px;display:none;margin-left:15px;">Duplicate UID.Cannot Save</span>

			<div class="rightsection">
				<ul class="list-unstyled">
					<li id="cancel-reposition">
						<label>
							<img src="/facesix/static/qubercomm/images/networkconfig/mapclose.png" alt="remove_device" style="display:none">
							<img src="/facesix/static/qubercomm/images/networkconfig/undo.png" alt="undo_reposition" style="display:none">
						</label>
						<span >
							Undo
						</span>
					</li>
					<li id="save-reposition">
						<label>
							<img src="/facesix/static/qubercomm/images/networkconfig/save.png">
						</label>
						<span class="color2" >
							Save
						</span>
					</li>
					<li id="delete-device" class="hide">
						<label>
							<img src="/facesix/static/qubercomm/images/networkconfig/delete.png">
						</label>
						<span class="" >
							Delete
						</span>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="savearea_bottom_new errorModal" style="display:none">
			<span id="errorDisplay" style="color:red;font-size:14px"></span>
		</div>
		<div class="rebootPopup savearea" style="display:none;position:fixed">
		<div class="savearea_bottom">
			<div class="left-section">
				<label>Are you sure you want to?</label>
			</div>
			<div class="rightsection">
				<ul class="list-unstyled">
					<li id="cancelDelete">
						<label>
							
						</label>
						<span >
							Cancel
						</span>
					</li>
					<li id="deleteItem">
						<label>
						</label>
						<span class="color2" >
							OK
						</span>
					</li>
				</ul>
			</div>
			</div>
		</div>	
		<img src="/facesix/static/qubercomm/images/networkicons/server_inactive.png" height="30" id="serverOffline" width="30" style="display:none">
		<img src="/facesix/static/qubercomm/images/networkicons/switch_inactive.png" height="30" id="switchOffline" width="30" style="display:none">
		<img src="/facesix/static/qubercomm/images/networkicons/ap_inactive.png" height="30" id="apOffline" width="30" style="display:none">
		<img src="/facesix/static/qubercomm/images/networkicons/sensor_inactive.png" height="30" id="sensorOffline" width="30" style="display:none">
		<img src="/facesix/static/qubercomm/images/networkicons/guestSensor_inactive.png" height="30" id="guestSensorOffline" width="30" style="display:none">
		<!-- js -->
		<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script src="/facesix/static/qubercomm/js/jquery.mobile-events.js" type="text/javascript"></script>
		<script src="/facesix/static/qubercomm/js/fabric.js" type="text/javascript"></script>
		<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- <script src="/facesix/static/qubercomm/js/jquery-ui.js" type="text/javascript"></script> -->
		<script type="text/javascript" src="/facesix/static/qubercomm/js/snap.svg-min.js"></script>
		<script src="/facesix/static/qubercomm/js/jqpanzoom.js" type="text/javascript"></script>
		<script src="/facesix/static/qubercomm/js/d3.v3.js"></script>
		<script type="text/javascript" src="/facesix/static/qubercomm/js/underscore-min.js"></script>
		<script src="/facesix/static/qubercomm/js/networkcon.js" type="text/javascript"></script>
		<script src="/facesix/static/qubercomm/js/networkconfig.js" type="text/javascript"></script>
		<script src="/facesix/static/qubercomm/js/script.js" type="text/javascript"></script>
		<script type="text/javascript">
			
 		if($(window).width() < 1200){
			var setheight = $(window).height()-200
			$('.maping-canvas').css("height", setheight);
		}

 		$("#reposition-menu").on("click", function(event) {
 		    event.preventDefault();
 		    $("html, body").animate({ 
 		        scrollTop: $(document).height() 
 		    }, "slow"); 
 		});
 		
 		$("#deleteDevice").on("click", function(event) {
 		    event.preventDefault();
 		    $("html, body").animate({ 
 		        scrollTop: $(document).height() 
 		    }, "slow"); 
 		});
 		$("#cancel-reposition").on("click", function(event) {
 		    event.preventDefault();
 			$("html, body").animate({ scrollTop: 0 }, 400);
 		});
 		$(".close").on("click", function(event) {
 		    event.preventDefault();
 			$("html, body").animate({ scrollTop: 0 }, 400);
 		});
		</script>
		
{{/partial}}