{{#partial "page"}}

<style>
.selected{ 
background-color: rgba(211,211,211,.7);
color: black;
}
table{
cursor: default;
}
</style>
<div id="page-content-wrapper"  class="">
	<div class="container-fluid">
		<div class="padLeft col-md-12 padding-right-0">
			<div class="row log-table-head dd-log-head">
				<div class="lth-left">
				<img src="/facesix/static/qubercomm/images/networkconfig/connected.png" alt="">
				<span title="{{sitename}}"><div id="sname"></div></span>
					<i class="fa fa-angle-right" aria-hidden="true"></i>	
					<span title="{{fsobject.uid}}"><div id="flname"></div></span>
					<span><i class="fa fa-angle-right" aria-hidden="true"></i> Switch-{{uid}}</span>
				</div>
				<div class="lth-right">
					<!-- <ul class="list-unstyled">
					<li>
							<label>
								<i class="fa fa-cog"></i>
							</label>
							<span>
								Configure
							</span>
						</li>
						
						<li class="powerBtn" action="reset" btn-type="reset" devtype="Switch" uid="{{uid}}">
							<label>
								<i class="fa fa-undo"></i>
							</label>
							<span>
								Reset
							</span>
						</li>						
						
						<li class="powerBtn" action="reboot" btn-type="reboot" devtype="Switch" uid="{{uid}}">
							<label>
								<i class="fa fa-power-off"></i>
							</label>
							<span>
								Power Off
							</span>

						</li>
						
						
						
					</ul> -->
				</div>
			</div>
		</div>
		<div class="switch-Network margin0Mob">
			<div class="col-md-12 padding-right-0 padLeft0 pad-mob-right">
				<div class="recent-Overview">
					<div class="networkAct display-inline">
						<label>Network Activity</label>
					</div>
					<div class="select-filter-Plan display-inline pull-right">
						<select class="form-control display-inline selectTime">
							<option selected="" value="5">Last 5 Minutes </option>
							<option value="15">15 Minutes </option>
							<option value="30">30 Minutes </option>
							<option value="60">60 Minutes </option>
							<option value="120">120 Minutes </option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="margin0Mob venue-details-section switchdashboard">
			<div class="col-md-8 padremove marbtm-20">
				<div class="chart1 addvenueCommon height-370">
					<div class="select-filter-Plan venue-filter">
						<select class="txrxswap">
							<option selcted>TX/RX Avg. Bytes</option>
							<option value="Tx">Tx Avg Bytes</option>
							<option value="Rx">Rx Avg Bytes</option>
						</select>
					</div>
					<div class="chart1Section">
						<div id="chart_div1"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 pad0">
				<div class="card-box fd-card height-370">
					<div class="cb-center">
						<div class="circle-chart">
							<div id="demo-pie-1" class="progress"></div>
						</div>
					</div>
					<div class="cb-caption">
						<label>Active Connections</label>
					</div>
				</div>
			</div>
		</div>
		<div class="margin0Mob">
			<div class="col-md-12 padding-left0 padding-right-0 switchTable">
				<div class="chart-box table-chart-box"></div>
			</div>
		</div>
	</div>
</div>
<div class="pad0 col-sm-3 col-md-3 sidebar  LogsSection inactive" id="rightPanel">
	<div class="network-map-section logMapSection">
		
		<div class="network-top-section">
			<div class="search-opt">
				<form id="uidForm">
					<div class="form-group">
						<div class="serach-box">
							<span class="icon">
								<i class="glyphicon glyphicon-search"></i>
							</span>
							<input type="search" class="form-control search-align" placeholder="Search Devices...">
						</div>
					</div>
				</form>
			</div>
			<div class="network-heading display-inline hide">
				<label>Network Tree</label>
			</div>
			<div class="filter-opt display-inline pull-right">
				<ul class="list-unstyled filter-opt-style">
					<li class="search-mob-hide hide">
						<img src="/facesix/static/qubercomm/images/networkconfig/search.png" class="search-icon" alt="">
						Search
					</li>
					<li class="dropdown filter-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
							<img src="/facesix/static/qubercomm/images/networkconfig/filter.png" alt="">
							Filter
							<span class="caret"></span></a>
							<ul class="dropdown-menu filter-style">
								<li><a href="#">Switch</a></li>
								<li><a href="#">AP</a></li>
								<li><a href="#">Sensor</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="device-section">
				<span>
					0 Devices
				</span>
				<ul class="list-unstyled">
					<li>
						<a href="" class="dshbrdLink ">
							<i class="fa fa-bar-chart" style="color:lightgray"></i>
						</a>
					</li>
					{{#if BINARY_WRITE}}
							<li class="addhide">
								<a class="binaryLink ">
								 <i class="fa fa-cloud-download" style="color:lightgray"></i>				
								</a>
							</li>
							{{/if}}
					<li class="addhide">
						<a class="devcfgLink">
                            <i class="fa fa-cog" style="color:lightgray"></i>
						</a>
					</li>
					<li>
								<a class="scanLink">
								  <i class="fa fa-rss" style="color:lightgray"></i>			
								</a>
                                           				
							</li>
					{{#if SYS_WRITE}}
					<li class="powerBtn" action="reset" btn-type="reset" devtype="Switch" uid="{{uid}}">
						<a href="">
							<!-- <img src="/facesix/static/qubercomm/images/networkconfig/refresh.png" alt=""> -->
							<i class="fa fa-undo fa_style"></i>
						</a>
					</li>

					<li class="powerBtn" action="reboot" btn-type="reboot" devtype="Switch" uid="{{uid}}">
						<a href="">
							<!-- <img src="/facesix/static/qubercomm/images/networkconfig/off.png" alt=""> -->
							<i class="fa fa-power-off fa_style"></i>
						</a>
					</li>
					{{/if}}
				</ul>
			</div>
			<div class="device-notification">
				<ul class="list-unstyled" id="network-tree"></ul>
			</div>
		</div>
	</div>
	<!-- Right click popup -->
	<ul class='custom-menu'>
		<li>
			<span><img src="/facesix/static/qubercomm/images/venue/block.png"></span>
			<label>Block</label>
		</li>
		<li>
			<span><img src="/facesix/static/qubercomm/images/venue/delete2.png" class="del-row"></span>
			<label>Delete</label>
		</li>
	</ul>
</div>
<div class="rebootPopup savearea" style="display:none;position:fixed">
<div class="savearea_bottom">
			<div class="left-section">
				<label>Are you sure you want to?</label>
			</div>
			<div class="rightsection">
				<ul class="list-unstyled">
					<li id="cancelDelete">
						<label>
							
						</label>
						<span >
							Cancel
						</span>
					</li>
					<li id="deleteItem">
						<label>
						</label>
						<span class="color2" >
							OK
						</span>
					</li>
				</ul>
			</div>
			</div>
</div>
<!-- js -->
<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.nicescroll.min.js"></script>
<script src="/facesix/static/qubercomm/js/circularprogress.jquery.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.mobile-events.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/d3.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/c3.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/common.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/handlebars.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/underscore-min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/switchdashboard.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/script.js"></script>

<!--css-->
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/c3.css"/>
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/circularprogress.css"/>
<!--#css-->
<script id="chartbox-template" type="text/x-handlebars-template">
	<div class="device-coon-desc">
		<label>Active Clients</label>
		<span class="table-page" data-table-name="dashboard-table"><i class="fa fa-refresh refreshTable" aria-hidden="true"></i>\{{#if show_previous_button}}<i class="fa fa-caret-left tablePreviousPage"></i>\{{/if}}&nbsp;\{{#if show_next_button}}<i class="fa fa-caret-right tableNextPage"></i>\{{/if}}</span>
	</div>
	<div class="tableSection">
		<table class="table dashboard-table" id="dashboard-table" data-current-page="\{{current_page}}" data-row-limit="5">
			<thead>
				<tr class="sel_tbl1">
					<th onclick="sort_table('spotid', 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(0)" class="width-40"># <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(1)">OS</th>
					<th onclick="sort_table('spotid', 2, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(2)">Device Name <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 3, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(3)">Client <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 4, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(4)">Radio <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 5, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(5)">AP <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 6, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(6)">SSID <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 7, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(7)">Tx <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('spotid', 8, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(8)">Rx <i class="fa fa-arrow-up"></i></th>					
					<th onclick="sort_table('spotid', 9, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(9)" class="width-125">RSSI(dBm) <i class="fa fa-arrow-up"></i></th>
				</tr>
			</thead>
			<tbody id="spotid">
				\{{#each data}}
				<tr mac-id="\{{mac_address}}">
					<td style="color: black;">\{{index}}</td>
					<td style="color: black;"><img src="/facesix/static/qubercomm/images/\{{client_type}}.png"/> </td>
					<td style="color: black;">\{{devtype}}</td>
					<td style="color: black;">\{{mac_address}}</td>
					<td style="color: black;">\{{radio}}</td>
					<td style="color: black;">\{{ap}}</td>
					<td style="color: black;">\{{ssid}}</td>
					<td style="color: black;">\{{tx}}</td>
					<td style="color: black;">\{{rx}}</td>					
					<td style="color: black;">\{{rssi}}</td>
				</tr>
				\{{/each}}
			</tbody>
		</table>
	</div>	
</script>

<script>
solutionInfo('{{Gateway}}', '{{GeoFinder}}','{{Heatmap}}','{{GatewayFinder}}');
	var str = '{{sitename}}';
	console.log(str);
	if (str.length > 32) {
		str = str.substr(0, 32)
		str += "...";
	}
	document.getElementById("sname").innerHTML = str;
	console.log(str);

	var str = '{{fsobject.uid}}';
	console.log(str);
	if (str.length > 16) {
		str = str.substr(0, 16)
		str += "...";
	}
	document.getElementById("flname").innerHTML = str;
	console.log(str);
</script>

{{/partial}}

{{>qubercomm/nav-top}}
{{>qubercomm/nav-left}}
{{>qubercomm/wrapper}}