{{#partial "page"}}
<div id="page-content-wrapper"  class="">
	<div class="container-fluid">
	<div class="col-md-12	">
			<div class="row log-table-head dd-log-head">
				<div class="lth-left" title="{{site.uid}}">
					<span>VENUE</span>		
				 	<i class="fa fa-angle-right" aria-hidden="true"></i>
					<select class="form-control stylenew" name="venuename" id="venuename" onchange="venuename(1)">
							{{#if site}}
							<option value="{{site.id}}" id="sname">{{site.uid}}</option>							
							{{/if}}
							</select>	
				</div>
				
				<div class="lth-left" style="margin-left:33px" title="{{portion.uid}}">
					<span>FLOOR</span>		
				 	<i class="fa fa-angle-right" aria-hidden="true"></i>
					<select class="form-control stylenew" name="floorname" id="floorname" onchange="floorname()">
							{{#if portion}}
							<option value="{{portion.id}}"  id="fname">{{portion.uid}}</option>								
							{{/if}}				
							</select>
				</div>
				 <div class="pull-right" style="margin-top: 10px; margin-right: 2px;">
					<a class="btn btn-sm btn-primary addhide hidden-sm hidden-md" id="heatmapreport" style="cursor: pointer" ><i
					class="fa fa-newspaper-o"> Report</i></a>
				</div>

			</div>
		</div>
		<div class="uitag-card uitag-card-Qfloor">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="ui-card divHt">
						<i class="fa fa-wifi"></i>
						 <h2 id="demo-pie-2">0</h2>
						 <h4>Device(s) Deployed</h4>
					</div>
				</div>	
				<div class="col-md-4 col-sm-6">
					<div class="ui-card divHt">
						<i class="fa fa-user"></i>
						 <h2 id="piechart3">0</h2>
						 <h4>Active Clients </h4>
					</div>
				</div>	
				<div class="col-md-4 col-sm-6">
					<div class="ui-card divHt">
						<i class="fa fa-user"></i>
						 <h2 id="piechart4">0</h2>
						 <h4>Associated Clients </h4>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-md-12 floorCan" style="margin-bottom: 25px;">
		
			<div class="panel panel-default na-panel" style="box-shadow:5px 6px 5px #cdd9ef;">
				<div class="panel-heading">
					<ul class="list-unstyled margin-btm-0">
					<li class="tagsfilters" style="top: -4px; position: relative;">
							
							<div class="onoffswitch ">
						  	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="clientsONOFF" checked="true">
							    <label class="onoffswitch-label" for="clientsONOFF">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
							<div class="onoffswitch onoffswitch-c">
						  	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="associateONOFF" checked="true">
							    <label class="onoffswitch-label" for="associateONOFF">
							        <span class="onoffswitch-inner bg-color"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>							 
							
						 </li>
						<li class="pull-right enlarge">
								<img src="/facesix/static/qubercomm/images/flooroverview/expand.png" alt="">
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="zoomOptionsInner">
					<a href="javascript:void(0)" id="zoom-in"><img src="/facesix/static/qubercomm/images/zoom-in.png" /></a> 
					<a href="javascript:void(0)" id="zoom-out"><img src="/facesix/static/qubercomm/images/zoom-out.png" /></a> 
					<a href="javascript:void(0)" id="reset"><img src="/facesix/static/qubercomm/images/reset.png" /></a> 
				</div>
				<div class="clearfix"></div>
				<div class="panel-body floorsvgCont">
				<div class="mapping-section" style="overflow: hidden; position: relative;">
					<!-- <div class="slider-section">
						<div class="slider">
							<label class="enlarge">
								<img src="/facesix/static/qubercomm/images/networkconfig/full.png" id="fullscreen" alt="">
							</label>
							<label>
								<img src="/facesix/static/qubercomm/images/networkconfig/plus.png" class="minus zoom-in" alt="">
							</label>
							<input type="range" class="zoom-range" min="0" max="3" step="1.0">
							<label>
								<img src="/facesix/static/qubercomm/images/networkconfig/minus.png" class="plus  zoom-out" alt="">
							</label>
						</div>
					</div>
					 -->
					<!-- <div class="leftSec pull-left"></div> -->
					<div class="maping-canvas" id="main-div" style="height:auto">
						<div class="canvas-container">
							<svg  class="floorsvg" id="plan">
								<g class="uiFloorGroupOuter"  transform="translate(0,0)" >
					 
								</g>
				    		</svg>
						</div>
					</div>
					
				</div>
				    
				</div>
			</div>
		

		</div>
		<div class="col-md-6 devicecol-6 device-col padding-device padding-right-0">
			<div class="chart-box fd-chartbox height">
				<div class="device-coon-desc">
					<label>Active Client Types </label>
				</div>
				<div class="chart1Section text-center">
					<div id="dd-chart5" class="chart-style"></div>
				</div>
			</div>
			</div>
			<div class="col-md-6 devicecol-6 device-col padding-device padding-right-15">
			<div class="chart-box fd-chartbox height">
				<div class="device-coon-desc">
					<label>Clients</label>
				</div>
				<div class="chart1Section text-center">
					<div id="dd-chart10" class="chart-style hide_x_axis"></div>
				</div>
			</div>
			</div>
	</div>
</div>




<!--css-->
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/c3.css"/>
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/circularprogress.css"/>
<!--#css-->
<!-- js -->	
<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.nicescroll.min.js"></script>
<script src="/facesix/static/qubercomm/js/circularprogress.jquery.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/snap.svg-min.js"></script>

<script type="text/javascript" src="/facesix/static/finder/js/svg-panzoom.js"></script>

<script src="/facesix/static/qubercomm/js/jqpanzoom.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/d3.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/c3.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/handlebars.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/fullheatmap.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/script.js"></script>
<style>
.hidiv { position:absolute; top:700px; padding:5px 10px; background-color: rgba(255, 255, 255, 0.8); color:#4285f4; display:none;
 border:1px solid #ccc; font-size:12px;z-index:9999; }
 .panel-default>.panel-heading { height:40px;}
 .selectag { border:none; background:#fbfbfb; outline:none;}

 .slider label .plus { width:20px; height:20px; margin-left:-10px;}
 .mapping-section { height:100%; border:none;}
 .na-panel a{cursor:pointer; }
 .floordash-col{float:left;position: relative;width:100%;}
 .floordash-col.deviceexpand{position: fixed;}
 .divHt{
 min-height:114px;
 }
 .tagsfilters.active .onoffswitch-c{
	visibility: hidden;
	opacity: 0;
}
 @media screen and (max-width: 767px){

.log-table-head .lth-left {
    margin-top: 5px;
    float: left;
    margin-bottom: 10px;
    margin-left: 0px !important;
    }
    #page-content-wrapper{
    	padding: 15px !important;
    }
 }
 @media screen and (max-width: 768px){
.padding-device {
    padding-right: 0px;
    padding-left: 0px;
}
#floorname {    
    width: 95% !important;
}
}
</style>
<div class="hidiv">Info Show</div>	

<script type="text/javascript">
Heatmap.init();
var vidselected = 0;
	$(document).ready(function(){
		
		search = window.location.search.substr(1)
		urlObj=JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')

		console.log ("CID" + urlObj.cid)

		
		$.ajax({
				type : "GET",
				url : "/facesix/rest/beacon/trilaterationReports/venuelist?cid="+urlObj.cid,
				dataType : "json",
				success : function(data) {
					$('#venuename').html('');
					//console.log(JSON.stringify(data));
					var i = 0;
					$.each(data.site, function(i, obj) { 
						var div_data = "<option value=" + obj.id + ">"+ obj.name + "</option>"; 
						$(div_data).appendTo('#venuename'); 
					});
					 
					//$('#venuename').trigger('change');
					 $("#venuename option:first").attr('selected',true);
					 function getParameterByName(name, url) {
						    if (!url) url = window.location.href;
						    name = name.replace(/[\[\]]/g, "\\$&");
						    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
						        results = regex.exec(url);
						    if (!results) return null;
						    if (!results[2]) return '';
						    return decodeURIComponent(results[2].replace(/\+/g, " "));
						}
						var newsid = getParameterByName('sid'); 
						if(newsid != null && newsid != '' && vidselected == 0){
							$('#venuename').val(newsid);
							vidselected = 1; 
						}else{
							 
						}
						venuename();
				}
			});		
		
		

		if (urlObj.sid == undefined || urlObj.sid == "") { 
			
		}
		else {
			
			//$('#venuename').trigger('change');
			
			$('#plan').css ('width', 	'{{width}}');
			$('#plan').css ('height',    '{{height}}');
			 
			var imagePath = "/facesix/web/site/portion/planfile?spid={{spid}}";
			
			//console.log ("Height" + '{{height}}' + "Width" + '{{width}}' );			
			var svgNew = d3.select('svg.floorsvg').selectAll('.uiFloorGroupOuter');
			
			var svgMap = d3.select("svg.floorsvg").selectAll('.uiFloorGroupOuter');
			var imageFound = document.getElementById('bgImage');
			if(imageFound == null){
				var newImage=svgNew.insert("image")
			    .attr({
			        'x':0,
			        'y':0,
			        'xlink:href':imagePath, 
			        'height': '{{height}}',
			        'width':'{{width}}',
			        'id': 'bgimage'
			    }); 
			    
			}
			
			var width = '{{width}}';
			var uiFloorWrpWidth = $('.canvas-container').innerWidth();
		    var twidth = (uiFloorWrpWidth - width)/2;
		    if(twidth > 0){
		    	svgNew.attr('transform', 'translate(' +twidth+ ',10)'); 
		    }
		     
		    $('.enlarge').click(function(){
		    	
		    	var svgNew = d3.select('svg.floorsvg').selectAll('.uiFloorGroupOuter');
		        var uiFloorWrpWidth = $('.canvas-container').innerWidth();
		        var twidth = (uiFloorWrpWidth - width)/2;
		        if(twidth > 0){
		        	svgNew.attr('transform', 'translate(' +twidth+ ',10)'); 
		        }
		    });
		    $('#bgimage').load(function() {
				//console.log('Image Loading');
		    }); 
		    $('#plan').attr('data-zoom', '1');
		    var beforePan
		    beforePan = function(oldPan, newPan){ 
		    	var	zoom = this.getSizes().realZoom;
		    	//console.log(zoom);
		    	zoom = zoom /5;
		    	gutterWidth = 100 * zoom;
		      var stopHorizontal = false
		       , sizes = this.getSizes()
		        , stopVertical = false 
		        , gutterHeight = 100
		          // Computed variables
		       
		        , leftLimit = -((sizes.viewBox.x + sizes.viewBox.width) * sizes.realZoom) + gutterWidth  
		        , rightLimit = sizes.width - gutterWidth - (sizes.viewBox.x * sizes.realZoom) 
		        , topLimit = -((sizes.viewBox.y + sizes.viewBox.height) * sizes.realZoom) + gutterHeight
		        , bottomLimit = sizes.height - gutterHeight - (sizes.viewBox.y * sizes.realZoom)
		      customPan = {}
		      customPan.x = Math.max(leftLimit, Math.min(rightLimit, newPan.x))
		      customPan.y = Math.max(topLimit, Math.min(bottomLimit, newPan.y))
		      return customPan
		    }
		    var panZoom;
		    window.initialize = function () {
		    	 panZoom = svgPanZoom('#plan', {
					zoomEnabled: true,
					zoomScaleSensitivity: .2,
					minZoom: 1,
					maxZoom: 100,
					panEnabled: true,
					contain: false,
					controlIconsEnabled: false,
				    fit: false,
				    center: false,  
				    beforePan: beforePan,
					onZoom: function(e){ 
						$('#plan').attr('data-zoom', e);
						floorChange(e);
					}
				});
		    }
		    initialize();
			document.getElementById('zoom-in').addEventListener('click', function(ev){
			    ev.preventDefault()
			    panZoom.zoomIn()
			});
			document.getElementById('zoom-out').addEventListener('click', function(ev){
			    ev.preventDefault()
			    panZoom.zoomOut()
			   
			});
			document.getElementById('reset').addEventListener('click', function(ev){
			    ev.preventDefault()  
			    panZoom.destroy();
			    initialize();
			});
			
			
			function floorChange(e){
				var circleRadius = 10;
				var fSize = 10;
				fnsize = (10/e)+3; 
				circleRadius = (10/e)+3; 
				var newSize = e/3;
				//console.log(newSize);
				var cyposition = 9;
				var image = d3.select("svg.floorsvg").selectAll(".animatedImage");
				if(newSize >= 20){
					image.attr('width', '3px')
					 .attr('height', '3px'); 
				}  
				else if(newSize >= 15){
					image.attr('width', '6px')
					 .attr('height', '6px'); 
				}
				else if(newSize >= 10){
					image.attr('width', '8px')
					 .attr('height', '8px'); 
				}
				else if(newSize >= 5){
					image.attr('width', '10px')
					 .attr('height', '10px'); 
				}
				else if(newSize >= 3){
					image.attr('width', '15px')
					 .attr('height', '15px'); 
				}
				else if(newSize >= 1){
					image.attr('width', '20px')
					 .attr('height', '20px'); 
				}
				else if(newSize >= .5){
					image.attr('width', '20px')
					 .attr('height', '20px'); 
				}
				else if(newSize >= .3){
					image.attr('width', '40px')
					 .attr('height', '40px'); 
				}
				else{
					image.attr('width', '40px')
					 .attr('height', '40px'); 
				}	
				 
				if(newSize >= 20){
					fnsize=1;
					cyposition = .3;
				} 
				else if(newSize >= 10){
					fnsize=2;
					cyposition = .8;
				}
				else if(newSize >= 5){
					fnsize=3;
					cyposition = 1;
				}
				else if(newSize >= 2){
					fnsize=6;
					cyposition = 2;
				}
				else if(newSize >= 1){
					fnsize=8;
					cyposition = 3;
				}
				else if(newSize >= .5){
					fnsize = 15;
					cyposition = 5;
				} 
				else{
					fnsize = 30;
					cyposition = 9;
				} 
				
				var circle = d3.select("svg.floorsvg").selectAll("circle");
				circle.attr('r', fnsize);
				var txt = d3.select("svg.floorsvg").selectAll("text");
				txt.attr('font-size', fnsize+'px');
				txt.attr('y', cyposition);
			}
			
		    floormapConfig.svg = d3.select("svg.floorsvg").selectAll('.uiFloorGroupOuter');
		    //floormapConfig.getCount();
		    floormapConfig.getDevices();
			
		}	
		   
	})
	
	
	
	var str = '{{site.uid}}';
	//console.log(str);

	if (str != undefined && str != "" && str != null) {
		if (str.length > 32) {
			str = str.substr(0, 32)
			str += "...";
		}
				
		document.getElementById("sname").innerHTML = str;		
	} 

		
	var str1 = '{{portion.uid}}';
	//console.log(str1);
	if (str1 != undefined && str1 != "" && str1!= null) {
		if (str1.length > 32) {
			str1 = str.substr(0, 32)
			str1 += "...";
		}
		
		document.getElementById("fname").innerHTML = str1;		
	}


</script>
<style>
#venuename{
	margin-top: -28px;
    margin-left: 72px;
    width: 70%;

}
#floorname{
	margin-top: -28px;
    margin-left: 72px;
    width: 70%;
}
</style>
{{/partial}}

{{>qubercomm/nav-top}}
{{>qubercomm/nav-left}}
{{>qubercomm/wrapper}}