{{#partial "page"}}

<!-- loader box -->
<link rel="stylesheet" href="/facesix/static/geo/css/loader.css">
<div class="loader_boxtwo" style="display: none;">	
	<div class="loader"></div>
	<h4 class="text-center">Loading Alerts...</h4>
</div>
<div id="page-content-wrapper" class="acc-sec wrap-res">
	<div class="container-fluid">
		<h4 class="acc-sec-title"></h4>
		<div class="col-md-12 venue-details" >
			<div class="view-details">
				<div class="col-md-6 col-sm-6 col-xs-6 img-res" style="margin-top: -23px;"><ul>
					<li class="displayBlockName"><img
						src="/facesix/static/qubercomm/images/q-cgf-ble.png" alt=""
						id="" style="width:80px;margin-left:-10px;"> <label class="venue-name" id="fimob" style="margin-left:-12px;">Alert List</label></li>
				</ul></div>
				<div class="pull-right mobilehideS addhide hidden-sm hidden-md aln-tt" style="margin-top: -55px">
					<select class="form-control csv2" id="fileformat">
						<option selected="" value="pdf">PDF</option>
						<option value="csv">CSV</option>
					</select>
					<button class="btn btn-primary btn3d btn-config-venue"
						type="button" id="exportlog"
						style="margin-top: -67px; margin-right: 48px;">
						<i class="fa fa-arrow-up"></i> Export
					</button>
					{{#if SUPERAPP_ADMIN_WRITE}}
					<a href="/facesix/GW_CustomizeAlert?sid={{sid}}&spid={{spid}}&cid={{cid}}" style="margin-left: -30px;margin-top: -67px;  margin-right: 17px;" class="btn btn-primary btn3d btn-config-venue mobilehideS ">   
						<i class="fa fa-exclamation-triangle" aria-hidden="false"></i>&nbsp;
						<span>Customize Alert</span> 
						<!-- <span class="sb-name"></span> -->
					</a> 
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	
	<style>
	.selected{ 
background-color: rgba(211,211,211,.7);
color: black;
}
table{
cursor: default;
}
	.btn-margin{
	margin-right: -35px;
	}
.csv2{
	width: auto;
    margin-left: -80px;
    height: 40px
}
.padd-ress{
	padding:10px 30px;
	} 

@media screen and (max-width: 768px){
 .wrap-res{
	padding: 18px !important;
    margin-left: 50px;
    position: relative !important;
	}
	.img-res{
	margin-left: -60px !important; 
	padding: 0 !important;  
	}	
} 
@media screen and (max-width: 480px){

	.padd-ress{
	padding: 25px !important;
    margin-left: -87px;
    margin-top: -23px;
	}
	
}
@media screen and (min-width: 1300px){
	.aln-tt{
		margin-top: -25px !important;
	}
	.csv2{
		margin-left: -96px !important;
	}
}
</style>

	<br><br>
	<div class="padd-ress" style="">
	
		<div class="col-md-15 alert-hide padding-device padding-right-0">
			<div class="chart-box dev-table-chart-box" style="margin-left:11px;margin-right:13px;"></div>
		</div>	
		</div>
	</div>

	
<!-- js -->
<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/jquery_validate_min_js.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/form-validations.js" type="text/javascript"></script>
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.mobile-events.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/common.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/handlebars.min.js"></script>
<script src="/facesix/static/qubercomm/js/gw_alert.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/finder/js/script.js"></script>

<script type="text/javascript" src="/facesix/static/qubercomm/js/snap.svg-min.js"></script>
<script src="/facesix/static/qubercomm/js/jqpanzoom.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/d3.v3.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/underscore-min.js"></script>
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/style.css"/>



<script id="chartbox-dev-template" type="text/x-handlebars-template">
	
	<div class="device-coon-desc">
		<i class="fa fa-server" aria-hidden="true" style="color:red"></i>
		<label>Device Alerts</label>
		<span class="table-page" data-table-name="dev-table"><i class="fa fa-refresh dev-refreshTable"" aria-hidden="true"></i>\{{#if show_previous_button}}<i class="fa fa-caret-left dev-tablePreviousPage"></i>\{{/if}}&nbsp;\{{#if show_next_button}}<i class="fa fa-caret-right dev-tableNextPage"></i>\{{/if}}</span>
					
	</div>

	<div class="tableSection">
			<div class="panel-heading">
                            
                        </div>
		<table class="table dev-table" id="dev-table" data-current-page="\{{current_page}}" data-row-limit="10">
			<thead>
				<tr class="sel_tbl1">
					<th onclick="sort_table('devid', 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(0)" class="width-40"># <i class="fa fa-arrow-up"></i></th>
				    <th onclick="sort_table('devid', 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(1)">UID <i class="fa fa-arrow-up"></i></th>
				    <th onclick="sort_table('devid', 2, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(2)">Floor Name <i class="fa fa-arrow-up"></i></th>
				    <th onclick="sort_table('devid', 3, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(3)">Alias<i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('devid', 4, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(4)">Status<i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('devid', 5, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(5)">Last Active<i class="fa fa-arrow-up"></i></th>
					<th class="addhide hidden-sm hidden-md"> Crash Dump <i class="fa fa-arrow-up"></i></th>
				</tr>
			</thead>
			<tbody id="devid">
				\{{#each data}}
				<tr class="tr_aclrow" id="aclrow">
					<td style="color: black;">\{{index}}</td>
					<td style="color: black;">\{{macaddr}}</td>
					<td style="color: black;">\{{portionname}}</td>
					<td style="color: black;">\{{alias}}</td>
					<td style="color: black;">\{{state}}</td>
					<td style="color: black;">\{{timestamp}}</td>
					<td class="addhide hidden-sm hidden-md"><button type="button" class="btn btn-primary btn3d dumphey" title="Crash Dump" onclick="crashDump('\{{fileName}}','\{{filestatus}}')" style="margin-top:0px;" \{{crashState}}>Crash Dump</button></td>
				</tr>
				\{{/each}}
			</tbody

		</table>
	</div>	
	
</script>
<script>

search = window.location.search.substr(1)
urlObj=JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')


$("#exportlog").click(function () {
	
	var file = document.getElementById("fileformat").value;
	
	if(file == "pdf"){
		var url = "/facesix/rest/gatewayreport/gw_alertpdf?cid="+urlObj.cid
	}else{
		var url = "/facesix/rest/gatewayreport/gw_alertcsv?cid="+urlObj.cid
	}
 
	window.open(url);
});

</script>
</div>
<!-- /.row -->

        
{{/partial}}

{{>qubercomm/nav-top}}
{{>qubercomm/nav-left}}
{{>qubercomm/wrapper}}