{{#partial "page"}}

<style>
.selected{ 
background-color: rgba(211,211,211,.7);
color: black;
}
table{
cursor: default;
}
</style>
<div id="page-content-wrapper" class="acc-sec">
	<div class="container-fluid">
		<h4 class="acc-sec-title"></h4>
		<div class="col-md-12 venue-details" >
			<div class="view-details">
				<div class="col-md-10 col-sm-10 col-xs-10"><ul>
					<li class="displayBlockName"><img
						src="/facesix/static/qubercomm/images/q-cgf-ble.png" alt=""
						id="" style="width:80px;margin-left:-10px;"> <label class="venue-name" id="fimob" style="margin-left:-12px;">Gateway Configuration</label></li>
				</ul></div>
				{{#if INACTIVE_WRITE}}
				<div class="col-md-2 display-inline">
				<a href="" class="btn btn-primary btn3d btn-config-venue addhide pull-right deleteAll" style="margin-right:0px;"><i
					class="fa fa-trash"></i> Delete All</a>
				</div>
				{{/if}}
				<div style="margin-bottom: 10px"></div>
			</div>
		</div>
	</div>

	<br><br>
	<div  style="padding:10px 30px;">
		<div class="col-md-15 reg-hide padding-device padding-right-0">
			<div class="chart-box reg-table-chart-box" style="margin-top: -40px;margin-left:11px;margin-right:13px;"></div>
		</div>		
		</div>
	</div>

	<div class="savearea" id="reposition-mode" class="reposition-mode" style="display:none;position:fixed;">
	<div class="savearea_bottom">
			<div class="left-section">
				<label>Are you sure you want to delete this UID?</label>
			</div>
			<div class="rightsection">
				<ul class="list-unstyled">
					<li id="cancelDelete">
						<label>
							
						</label>
						<span >
							Cancel
						</span>
					</li>
					<li id="deleteItem">
						<label>
						</label>
						<span class="color2" >
							OK
						</span>
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="saveareaone" id="reposition-mode" class="reposition-mode" style="display:none;position:fixed;">
	<div class="saveareaone_bottom">
			<div class="left-section">
				<label>Are you sure you want to delete ALL REGISTERED UID?</label>
			</div>
			<div class="rightsection">
				<ul class="list-unstyled">
					<li id="cancelAll">
						<label>
							
						</label>
						<span >
							Cancel
						</span>
					</li>
					<li id="deleteAllUid">
						<label>
						</label>
						<span class="color2" >
							OK
						</span>
					</li>
				</ul>
			</div>
			</div>
		</div>
<!-- js -->
<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/jquery_validate_min_js.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/form-validations.js" type="text/javascript"></script>
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>

<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.mobile-events.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/common.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/handlebars.min.js"></script>
<script src="/facesix/static/qubercomm/js/gw_regdevices.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/script.js"></script>

<script type="text/javascript" src="/facesix/static/qubercomm/js/snap.svg-min.js"></script>
<script src="/facesix/static/qubercomm/js/jqpanzoom.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/d3.v3.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/underscore-min.js"></script>
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/style.css"/>

<script id="chartbox-register-template" type="text/x-handlebars-template">
	
	<div class="device-coon-desc">
		<i class="fa fa-bookmark" aria-hidden="true"></i>
		<label>Available Gateways</label>
		<span class="table-page" data-table-name="register-table"><i class="fa fa-refresh reg-refreshTable"" aria-hidden="true"></i>\{{#if show_previous_button}}<i class="fa fa-caret-left reg-tablePreviousPage"></i>\{{/if}}&nbsp;\{{#if show_next_button}}<i class="fa fa-caret-right reg-tableNextPage"></i>\{{/if}}</span>
					
	</div>

	<div class="tableSection">
			<div class="panel-heading">
                            
                        </div>
		<table class="table register-table" id="register-table" data-current-page="\{{current_page}}" data-row-limit="10">
			<thead>
				<tr class="sel_tbl1">
					<th onclick="sort_table('regid', 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(0)" class="width-40"># <i class="fa fa-arrow-up"></i></th>
				    <th onclick="sort_table('regid', 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(1)">Name <i class="fa fa-arrow-up"></i></th>					
					<th onclick="sort_table('regid', 2, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(2)">UID <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('regid', 3, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; sel_tbl1(3)">Available From<i class="fa fa-arrow-up"></i></th>
					{{#if SYS_WRITE}}
					<th class="addhide">Action <i class="fa fa-arrow-up"></i></th>
					<th class="addhide">Delete <i class="fa fa-arrow-up"></i></th>
					{{/if}}
		
				</tr>
			</thead>
			<tbody id="regid">
				\{{#each data}}
				<tr class="tr_aclrow" id="aclrow" mac-id="\{{uid}}" uid="{{uid}}" cid="\{{cid}}">
					<td style="color: black;">\{{index}}</td>
					<td style="color: black;">\{{name}}</td>
					<td style="color: black;">\{{uid}}</td>
					<td style="color: black;">\{{description}}</td>
 					{{#if SYS_WRITE}}
					<td class="addhide">
					<span>
		               <a href="/facesix/web/device/custconfig?uid=\{{uid}}&cid={{cid}}&sid={{sid}}&spid={{spid}}&param=1" title="Configure"><i class="fa fa-cog fa-2x" style="color:black"></i></a>
		               </span>
					</td>
					{{/if}}
					{{#if SYS_WRITE}}
					<td class="addhide">
					<span>
		               <a class="submitDelete submit1" href="/facesix/rest/device/delete?uid=\{{uid}}&cid={{cid}}&place=gwregdevice" title="Delete">
							<i class="fa fa-trash fa-2x"></i>
						</a>
		            </span>
				</td>
				{{/if}}
				</tr>
				\{{/each}}
			</tbody>

		</table>
	</div>	
	
</script>

</div>
<!-- loader -->
<link rel="stylesheet" href="/facesix/static/geo/css/loader.css">
<div class="loader_box" style="display: none;">	
	<div class="loader"></div>
	<h4 class="text-center"> Loading Devices...</h4>
</div>

    <!-- /.row -->
        
{{/partial}}

{{>qubercomm/nav-top}}
{{>qubercomm/nav-left}}
{{>qubercomm/wrapper}}