{{#partial "navleft"}}
    		<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search"> <h5> Configurations </h5>
                        </li>
                        <li>
                            <a href="/facesix/web/device/list"><i class="fa fa-table fa-fw"></i>List All </a>
                        </li>
                          <li>
                            <a href="/facesix/web/device/open"><i class="fa fa-edit fa-fw"></i>Add New </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
{{/partial}}