{{#partial "page"}}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                	{{#if device}}
                    <h3 class="page-header"> Modify Device Configuration : {{device.name}}</h3>
                    {{else}}
                    <h3 class="page-header"> New Device Configuration </h3>
                    {{/if}}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                      	{{#block "message"}} {{/block}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-1"> </div>
                            
                                <div class="col-lg-10">
                                    <form role="form" action="/facesix/web/device/save" method="post">
                                    {{#if device.id}}
                                        <input name="id" type="hidden" value="{{device.id}}">
                                    {{/if}}
                                        <div class="form-group">
                                            <label>Device Name</label>
                                            <input class="form-control" name="name" placeholder="name of the device" value="{{device.name}}" {{disabled}}>
                                        </div>
                                   
                                        <div class="form-group">
                                            <label>Device UID</label>
                                            <input class="form-control" name="uid" placeholder="ip or mac address" value="{{device.uid}}" {{disabled}}>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="dconfig" class="form-control" name="conf" value='{{device.conf}}'> </input>
                                        </div>
                                        <div id='editor_holder' class='medium-12 columns'></div>
                                        <button type="submit" id="submit" class="btn btn-default">Save</button> <a href="/facesix/web/device/list"> Cancel </a>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-1"> </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	<script src="/facesix/static/js/device-edit.js"></script> 
{{/partial}}
 {{>message}}
 {{>device-leftnav}}
  {{>device-edit-headerscript}}
 {{>wrapper}}