<form class="form-horizontal border-left  hor-height" name="frm" novalidate ng-style="{'height':vm.pageHeight}">
    <div class="col-md-12 menutopview" style="margin-top:22px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: -13px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 style="font-weight:700;padding-bottom:7px; font-family: Roboto !important;">Registered Gateway Configuration</h2>
            </div>
        </div>
        <div class="panel venuepanel" style="height:auto;margin-left: 15px;width:98% !important;">
            <div class="mr-top-11 row">
                <div class="col-md-12 ">
                    <div class="col-md-12 grid-title-padding">
                        <div class="col-md-4 title-left">
                            <div class="col-md-1">
                                <i class="fa fa-bookmark grid-title-icon">&nbsp;</i>
                            </div>
                            <div class="col-md-9">
                                <span class=" grid-title">
                                    Registered Gateways to cloud
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 button-bar pull-right">
                            <span ng-click="vm.refresh(true)" class="venue-hlink dashboardactive">
                                <i class="fa icon-rotate_left"
                                   style="color:#625B5B;vertical-align:sub;cursor:pointer"></i> Refresh
                            </span>
                            &nbsp;&nbsp;&nbsp;
                            <span ng-click="vm.deleteAll()" class="fa fa-trash" style="color:red;cursor:pointer">&nbsp;</span>
                            <span ng-class="vm.pagedDataReceiverDetails.length==0 || !vm.pagedDataReceiverDetails ? 'clickdisabled' : ''" ng-click="vm.deleteAll()" class="venue-hlink" style="color:red;cursor:pointer">Delete All</span>
                        </div>
                    </div>

                    <div class="panel-body panel-body-table" style="overflow-y: hidden;">
                        <div class="table-responsive">
                            <table class="table table-hover" style="font-size:13px;">
                                <thead style="border:thin;border-top: thin solid #e7e7e7;">
                                    <tr>
                                        <th style="background:none;color:black" class="table-hyper-a-small ">
                                            #
                                        </th>
                                        <th style="background:none;color:black">
                                            <a href="" style="color:black" ng-click="vm.dataOperationsGwayInfo.dataOperations.sortPredicate = 'dev_name'; vm.dataOperationsGwayInfo.dataOperations.sortOrder = !vm.dataOperationsGwayInfo.dataOperations.sortOrder; vm.getDevices()">
                                                Name
                                                <span ng-show="vm.dataOperationsGwayInfo.dataOperations.sortPredicate == 'dev_name' && !vm.dataOperationsGwayInfo.dataOperations.sortOrder"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="vm.dataOperationsGwayInfo.dataOperations.sortPredicate == 'dev_name' && vm.dataOperationsGwayInfo.dataOperations.sortOrder"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="background:none;color:black">
                                            <a href="" style="color:black" ng-click="vm.dataOperationsGwayInfo.dataOperations.sortPredicate = 'mac_address'; vm.dataOperationsGwayInfo.dataOperations.sortOrder = !vm.dataOperationsGwayInfo.dataOperations.sortOrder; vm.getDevices()">
                                                UID
                                                <span ng-show="vm.dataOperationsGwayInfo.dataOperations.sortPredicate == 'mac_address' && !vm.dataOperationsGwayInfo.dataOperations.sortOrder"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="vm.dataOperationsGwayInfo.dataOperations.sortPredicate == 'mac_address' && vm.dataOperationsGwayInfo.dataOperations.sortOrder"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th style="background:none;color:black">
                                            <a href="" style="color:black" ng-click="vm.dataOperationsGwayInfo.dataOperations.sortPredicate = 'status'; vm.dataOperationsGwayInfo.dataOperations.sortOrder = !vm.dataOperationsGwayInfo.dataOperations.sortOrder; vm.getDevices()">
                                                Configured?
                                                <span ng-show="vm.dataOperationsGwayInfo.dataOperations.sortPredicate == 'status' && !vm.dataOperationsGwayInfo.dataOperations.sortOrder"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="vm.dataOperationsGwayInfo.dataOperations.sortPredicate == 'status' && vm.dataOperationsGwayInfo.dataOperations.sortOrder"
                                                      class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th class="table-hyper-a-small" style="background:none; color: black;font-family: Roboto;font-size: 14px;letter-spacing: 0.8px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-if="vm.pagedDataReceiverDetails.length > 0">
                                    <tr data-ng-repeat="gateway in vm.pagedDataReceiverDetails">
                                        <td>{{gateway.gridsno}}</td>
                                        <td>{{gateway.dev_name}}</td>
                                        <td>{{gateway.mac_address}}</td>
                                        <td>{{gateway.status}}</td>
                                        <td>
                                            <span ng-click="vm.edit(gateway)" style="color:#18a79d;cursor:pointer">Configure</span>&nbsp;|
                                            <span ng-click="vm.delete(gateway)" style="color:#FF0000;cursor:pointer">Delete</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="vm.pagedDataReceiverDetails.length <= 0">
                                    <tr>
                                        <td colspan="12" style="text-align: center;"> No records found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr style="margin: 15px 0 -20px 0 ;    border-top: thin solid #e7e7e7;">
                            <table class="footer-center">
                                <tr>
                                    <td class="foot-desc">{{vm.dataOperationsGwayInfo.currentPageDescription()}}</td>
                                    <td>
                                        <div class="pagination">
                                            <ul uib-pagination boundry-links="true" ng-change="vm.getDevices()"
                                                total-items="vm.dataOperationsGwayInfo.filteredCount" items-per-page="vm.dataOperationsGwayInfo.dataOperations.paging.pageSize"
                                                ng-model="vm.dataOperationsGwayInfo.dataOperations.paging.currentPage"
                                                max-size="vm.dataOperationsGwayInfo.dataOperations.paging.maxPagesToShow"
                                                class="pagination-small"></ul>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" numeric class="col-md-2 pagination-goto-text" ng-disabled="vm.allReceiverDetails.length <= vm.dataOperationsGwayInfo.dataOperations.paging.pageSize"
                                               ng-model="vm.goToGwayPageNo" />&nbsp;
                                        <input type="button" class="btn btn-primary pagination-grid-footer-btn"
                                               value="Go" data-ng-click="vm.goToNextPage()" style="background-color:#068e84"
                                               ng-disabled="!vm.goToGwayPageNo" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .switch span {
        width: 36px !important;
        height: 18px !important;
    }

    .switch span:after {
        width: 13px !important;
    }
</style>