<body style="background: #eef2f6!important;">
<div id="page-content-wrapper"  class="" style="background-color: slategray;
    /* margin-bottom: 66px; */
    height: 58px;">
  <div>
    <h class="hStyle"> <i class="fa fa-dashboard" style="color: white"></i> System Statistics Dashboard</h>
  </div>
  
 
    <div><i class="fa fa-power-off power" ></i></div>
   <!--  <div><i class="fa fa-battery-full fa-2x" style="float:right;margin-top:-20px;margin-right:30px;color:white"></i></div>--> 
    <div class="battery" > <i class="fa fa-battery-empty fa-3x" style="color: red;display: none;" id="lowbattery"></i> </div> 
    <div class="battery"><i class="fa fa-battery-quarter fa-3x" style="color:orange;display: none;" id="quaterbattery"></i></div>
     <div class="battery"> <i class="fa fa-battery-half fa-3x" style="color:green;display: none;" id="halfbattery"></i></div>
      <div class="battery"> <i class="fa fa-battery-three-quarters fa-3x" style="color:green;display: none;" id="almostbattery"></i> </div>
      <div class="battery"> <i class="fa fa-battery-full fa-3x" style="color: green;display: none;" id="fullbattery"></i> </div>
      <div class="battery"> <i class="fa fa-plug fa-3x" style="color: palegreen;display: none;" id="acpower"></i> </div>
          
      <!--  <h4 class="battery-name" id="pwrname">Battery</h4>   --> 
       <div class="battery-usage" ><h2 id="usage">0%</h2> </div>
     <div class="battery-bolt"><i class=" fa fa-bolt bolt" style="color: white;font-size: 18px !important;display: none;"></i>
     <label style="margin-right:165px;color:white;font-family:inherit;font-size:medium">Remaining Time :<span id="batremtime"></span></label></div>   
      <div class="pause" title="Pause"><i class="fa fa-pause fa-2x" style="color: white"></i></div>
      <div class="play" title="Resume" style="display: none"><i class="fa fa-play fa-2x" style="color: white"></i></div>
     </div>
    
      <div class="uitag-card" style="margin-top: 30px;">
                
        <div class="col-md-3 col-sm-3 col-four bat" id="fetch" style="float: right;">
       <!--      <div class="ui-card cardCss zoom">
            <i class="fa fa-battery-empty" style="color: red;display: none" id="lowbattery"></i> 
            <i class="fa fa-battery-quarter" style="color:orange;display: none" id="quaterbattery"></i>
            <i class="fa fa-battery-half" style="color:green;display: none" id="halfbattery"></i>
            <i class="fa fa-battery-three-quarters" style="color:green;display: none" id="almostbattery"></i> 
            <i class="fa fa-battery-full" style="color: green;display: none" id="fullbattery"></i> 
            <i class="fa fa-plug" style="color: green;display: none" id="acpower"></i>    
             <h4 id="pwrname">Battery</h4>
             <h2 id="usage">65%</h2>
             <i class="fa fa-bolt bolt" style="color: white;font-size: 14px !important;display: none;"></i>
          </div>

        </div>  
        <div class="col-md-3 col-sm-3 col-four" id="fetch" style="float: right;">
          <div class="ui-card cardCss zoom">
             <i class="fa fa-wifi"></i>
             <h4>Current Channel</h4>
             <h2 id="channel"></h2>
          </div> --> 
        </div>     
    </div>     


        <div class="col-md-10 sysview" style="float: right;display:none">
          <div class="col-md-6 col-sm-5">
      <div class="chart-box venus-chart1 cb-mb fd-chartbox" style="height:380px">
        <div class="netflowData select-filter-Plan venue-filter">
          <label>CPU Usage</label>
          <p class="subtitle">Past 120 Seconds</p>
        </div>
        <div class="cb-section">
          <div class="chart1">
            <div class="chart1Section">
              <div id="cpugraph"></div>
            </div>
          </div>
        </div>

      </div>

  <div class="col-md-12" style="margin-top: -80px;">   
   <div class="uitag-card">
     <div class="col-md-4 col-sm-4" id="fetch">
         <div class="" style="height: 100px;text-align: center !important;">
            <div id="ring"></div>
            <div style="margin-top: -48px;">
          </div>
           <h5 style="margin-top: 40px;font-weight: 550;">Max</h5>
         </div>
       </div>  

     <div class="col-md-4 col-sm-4" id="fetch">
          <div class="" style="height: 100px;text-align: center !important;">
             <div id="mincpu"></div>
             <div style="margin-top: -48px;">
          </div>
           <h5 style="margin-top: 40px;font-weight: 550;">Min</h5>
         </div>
         
       </div>  
     <div class="col-md-4 col-sm-4" id="fetch" style="height: 100px;text-align: center !important;">
         <div class="">
             <div id="avgcpu">
             </div>
             <div style="margin-top: -48px;">
          </div>
           <h5 style="margin-top: 40px;font-weight: 550;">Avg</h5>
         </div>
       </div>             
   </div>   
</div> 
</div>

    <div class="col-md-6">
      <div class="chart-box venus-chart1 cb-mb fd-chartbox" style="height:380px">
        <div class="netflowData select-filter-Plan venue-filter">
          <label>Memory Usage</label>
          <p class="subtitle">Past 120 Seconds</p>
        </div>
        <div class="cb-section">
          <div class="chart1">
            <div class="chart1Section">
              <div id="memorygraph"></div>
            </div>
          </div>
        </div>
        
      </div>
        <div class="col-md-12" style="margin-top: -80px;margin-left: 10px;">   
   <div class="uitag-card">
     <div class="col-md-4 col-sm-4" id="fetch">
         <div class="" style="height: 100px;text-align: center !important;">
            <div id="maxmem"></div>
            <div style="margin-top: -48px;">
          </div>
           <h5 style="margin-top: 40px;font-weight: 550;">Max</h5>
         </div>
       </div>  

     <div class="col-md-4 col-sm-4" id="fetch">
          <div class="" style="height: 100px;text-align: center !important;">
             <div id="minmem"></div>
             <div style="margin-top: -48px;">
          </div>
           <h5 style="margin-top: 40px;font-weight: 550;">Min</h5>
         </div>
         
       </div>  
     <div class="col-md-4 col-sm-4" id="fetch" style="height: 100px;text-align: center !important;">
         <div class="">
             <div id="avgmem">
             </div>
             <div style="margin-top: -48px;">
          </div>
           <h5 style="margin-top: 40px;font-weight: 550;">Avg</h5>
         </div>
       </div>       
      
   </div>
    
</div> 
    </div>

        </div>

<div class="col-md-10 sysview" style="float: right;display:none">
  <div class="col-md-6">
      <div class="chart-box venus-chart1 cb-mb fd-chartbox" style="height:410px">
        <div class="netflowData select-filter-Plan venue-filter">
          <label>Network Activity</label>
          <p class="subtitle">Past 120 Seconds</p>
        </div>
        <div class="cb-section">
          <div class="chart1">
            <div class="chart1Section">
              <div id="txrx"></div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-10" style="margin-top: -116px;margin-left: 52px;">     
         
  <div class="row">
     <div class="col-sm-3">
    <h5 style="margin-top: 40px">Uplink</h5>
    </div>
    <div class="col-sm-3">
    <h5 style="font-weight: 550;">Max(Mbps)</h5>
        <p id="maxtx"></p>
    </div>
    <div class="col-sm-3">
        <h5 style="font-weight: 550;">Min(Mbps)</h5>
          <p id="mintx"></p>
    </div>
    <div class="col-sm-3">
        <h5 style="font-weight: 550;">Avg(Mbps)</h5>
        <p id="avgtx"></p>
    </div>
    <div id="th">
    <div class="col-sm-3">
    <h5 style="margin-top: 0px">Downlink</h5>
    </div>
    <div class="col-sm-3" style="margin-top: -17px">
    <h5 style="font-weight: 550;"></h5>
        <p id="maxrx"></p>
    </div>
    <div class="col-sm-3" style="margin-top: -17px">
        <h5 style="font-weight: 550;"></h5>
    <p id="minrx"></p>
    </div>
    <div class="col-sm-3" style="margin-top: -17px">
        <h5 style="font-weight: 550;"></h5>
    <p id="avgrx"></p>
    </div>
    </div>

  </div>
    
</div>  
</div>

<div class="col-md-6">
    <div class="chart-box venus-chart1 cb-mb fd-chartbox" style="height:410px">
        <div class="netflowData select-filter-Plan venue-filter">
          <label>Channel Usage  </label>
          <p class="subtitle">Past 120 Seconds</p>
        </div>
        <div class="cb-section">
          <div class="chart1">
            <div class="chart1Section">
              <div id="channelgraph"></div>
              <div class="container" style="float: left;margin-left: 40px !important;"><br>
              <b><label>Channel Number : <span id="channel"></span></label></b></div>
            </div>
          </div>
        </div>
      </div>
</div>
    </div>
<div class="form-group  disp-inline lefthang">
              <span for="" style="margin-left: 3px;color: #e1ffff">Device List</span><select class="form-control disp-block valign" style="font-size: 10px;width: fit-content;text-transform: uppercase;margin-top: 9px !important" name="root" id="root">
                </select>
            </div>
</div>


<link rel="stylesheet" type="text/css" href="/facesix/static/meshmonitor/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/facesix/static/meshmonitor/css/c3.css"/>
<link rel="stylesheet" type="text/css" href="/facesix/static/meshmonitor/css/circularprogress.css"/>
<!--#css-->
<!-- js --> 
<script src="/facesix/static/meshmonitor/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/meshmonitor/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/meshmonitor/js/jquery.nicescroll.min.js"></script>
<script src="/facesix/static/meshmonitor/js/circularprogress.jquery.min.js"></script>
<script type="text/javascript" src="/facesix/static/meshmonitor/js/d3.min.js"></script>
<script type="text/javascript" src="/facesix/static/meshmonitor/js/c3.js"></script>
<script type="text/javascript" src="/facesix/static/meshmonitor/js/handlebars.min.js"></script>
<script type="text/javascript" src="/facesix/static/meshmonitor/js/underscore-min.js"></script>
<script src="/facesix/static/meshmonitor/js/systemdashboard.js" type="text/javascript"></script>
<style type="text/css">

.pause{
    float: right;
    margin-right: -144px;
    margin-top: -23px;
    cursor: pointer;
}

.play{
    float: right;
    margin-right: -144px;
    margin-top: -23px;
    cursor: pointer;
}

.pausenew{
    float: right;
    margin-right: 0px;
    margin-top: -23px;
    cursor: pointer;
}

.playnew{
    float: right;
    margin-right: 0px;
    margin-top: -23px;
    cursor: pointer;
}

.lefthang{
    z-index: 9999;
    position: fixed;
    top: 354px;
    left: 10px;
  }
.above {
  margin: 40px;
  background-color: rgb(68,68,68); /* Needed for IEs */

  -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 0.1;
}
.above .ui-card {
  position: relative; /* This protects the inner element from being blurred */
  padding: 100px;
  background-color: #DDD;
}

.plug{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 126px;
    font-size: 50px;
}

 .battery{
    z-index: 9999;
    position: absolute;
    top: -8;
    right: 0px;
} 
 #batremtime{
    position: absolute;
    font-size:22px;
    color: white;
    margin-top: -3px;
    right:70px;
    font-family:inherit;
} 
.battery-bolt{
	z-index: 9999;
    position: absolute;
    top: 22;
    right: 110px;
}
.cardCss{
  background-color: #fff;
    padding: 5px 0;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 5px 6px 5px #cdd9ef;
}
label{
font-family: "Nunito Sans",sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}

h4{
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400 !important;
    font-size: 18px !important;
}

.c3-title, tspan {
    font-family: 'Exo2SemiBold';
    font-size: 13px !important;
    /* color: azure; */
    fill: gray !important;
}

.hStyle{
  margin-left: 267px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    /*color: #343a40;*/
    color: white;
}
.power{
    color: transparent;
    float: right;
    margin-top: -19px;
    margin-right: 21px;
    font-size: 23px !important;
}

.c3-ygrid-line line{
    stroke: #e6e6e6;
}

.c3-xgrid-line line{
    stroke: #e6e6e6;
}

.hs{
	float: left;
    margin-left: 215px;
}

.links{
	float: right;
    margin-right: 39px;
    font-size: 20px;
    margin-top: -32px !important;
}
.c3-chart-arc .c3-gauge-value{
   font-size: 20px !important;
 }

 .uitag-card > div{
  margin-bottom: -25px !important;
 }
 .subtitle{
    font-size: 16px;
    font-weight: 300;
    color: #a1aab2;
    margin-top: -10px;
 }
 .chart-box .netflowData label{
  margin-top: -5px !important;
 }
 #chart {
      width: 80%;
      display: inline-block;
    }
    .col-four {
    width: 18% !important;
}

.ui-card{
  height: 71px !important;
  padding: 0px !important;
}

@media screen and (max-width: 1200px) and (min-width: 768px){
      .bat {
        margin-left : 163px !important;
      }
      .hStyle{
         margin-left: 210px;
        }
  }

  @media screen and (max-width: 770px) and (min-width: 766px){
   .bat {
        margin-left : 163px !important;
      }
      .hStyle{
         margin-left: 210px;
        }
    }

     @media screen and (min-width: 1200px) and (max-width: 1350px){
   .bat {
        margin-left : 163px !important;
      }
      .hStyle{
         margin-left: 210px;
        }
    }

.c3-axis-y text 
{
  font-size: 12px;
  font-family: "Nunito Sans",sans-serif !important;
}
.c3-axis-x text 
{
  font-size: 12px;
  font-family: "Nunito Sans",sans-serif !important;
}


.c3-tooltip td {
font-size:13px;
padding: 3px 6px;
background-color:green
border-left:1px dotted #999;
color: #000;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 8px;
}

#maxtx {
  width: 1%;
  height: 20px !important;
}

#mintx {
  width: 1%;
  height: 20px !important;
}

#avgtx {
  width: 1%;
  height: 20px !important;
}

#maxrx {
  width: 1%;
  height: 20px !important;
}

#minrx {
  width: 1%;
  height: 20px !important;
}

#avgrx {
  width: 1%;
  height: 20px !important;
}

.hcss{
    margin-top: 4px;
    float: left;
    margin-left: -55px;
    font-size: 14px;
}
</style>

<script type="text/javascript">

$("#fetch").on("mouseover",function(){

  $("fetch").addClass('.above');
});

</script>
</body>
{{>meshmonitor/leftpanel}}
