<section class="content">
    <div class="container-fluid">
        <div class="floor-dashboard">
            <div class="card-view">
                <div class="heading">
                    <div class="title">
                        <i class="fa fa-rss"></i> AP-04:f0:21:1b:d9:8a
                    </div>
<!--
                    <div class="responsive-menu">
                        <div class="responsive-icon" open="dropdown1"><i class="fa fa-ellipsis-v"></i></div>
                        <ul class="dropdown" id="dropdown1">
                            <li><a href="#/addvenue"><i class="fa fa-plus"></i> Add Floor</a></li>
                            <li><a href=""><i class="fa fa-edit"></i> Edit Floor</a></li>
                            <li><a href=""><i class="fa fa-trash"></i> Delete Floor</a></li>
                                                                <li ng-click="fullview = !fullview"><a href=""><i class="fa fa-arrows-alt"></i> Sample FullView</a></li>
                        </ul>
                    </div>
-->

                </div>
            </div>
            <div class="">
                <div class="ap-view">
                    <div class="w25">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Downlink Speed
                            </div>
                        </div>
                        <div class="body uplink">
                            <div class="canht">
                                <canvas id="bar" class="chart chart-bar" chart-data="bardata" chart-labels="barlabels" chart-series="barseries" chart-colours="barcolours" chart-options="baroptions">
                                </canvas>
                                <h5 class="tc">Downlink Speed</h5>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    <div class="w25">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Uplink Speed
                            </div>
                        </div>
                        <div class="body uplink">
                            
                            <div class="canht">
                                <canvas id="bar" class="chart chart-bar" chart-data="bardata" chart-labels="barlabels" chart-series="barseries" chart-colours="barcolours" chart-options="baroptions">
                                </canvas>
                                <h5 class="tc">Uplink Speed</h5>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="w25">
                        <div class="card-view bt2">
                            <div class="heading border">
                                <div class="title theme">
                                    Connected Interface
                                </div>
                            </div>
                            <div class="body">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-legend="true" chart-colours="dougcolours"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="w25">
                        <div class="card-view bt2 splht">
                        <div class="heading border">
                            <div class="title theme">
                                System Health
                            </div>
                        </div>
                        <div class="body">
                            <div class="tc split2">
                                <div class="card-progress">
                                    <canvas class="chart" width="100" height="100" roundprogress data="value.data" label="value.label" color="value.color" linewidth="7" total="value.total"></canvas>
                                </div>
                                <div class="card-progress">
                                    <canvas class="chart" width="100" height="100" roundprogress data="value.data" label="health.label" color="health.color" linewidth="7" total="health.total"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="w50">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Netflow
                            </div>
                        </div>
                        <div class="body">
                            <canvas id="line" class="chart chart-line" chart-data="linedata.data" chart-labels="linedata.label" chart-series="linedata.series" chart-options="options" chart-colours="linedata.colours" chart-legend="true"></canvas>
                        </div>
                    </div>
                    
                    </div>
                    <div class="w50">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Venue Tx vs Rx
                            </div>
                        </div>
                        <div class="body">
                            <canvas id="line" class="chart chart-line" chart-data="linedata.data" chart-labels="linedata.label" chart-series="linedata.series" chart-options="options" chart-colours="linedata.colours" chart-legend="true"></canvas>
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="w50">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Device Connected
                            </div>
                        </div>
                        <div class="body splht">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-legend="true" chart-colours="dougcolours"></canvas>
                        </div>
                    </div>
                    </div>
                    <div class="w50">
                        <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Type of Devices
                            </div>
                        </div>
                        <div class="body splht">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-legend="true" chart-colours="dougcolours"></canvas>
                        </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title theme">
                                Active Client
                            </div>
                        </div>
                        <div class="body">
                           <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Client</th>
                                    <th>Device Name</th>
                                    <th>IP</th>
                                    <th>Client</th>
                                    <th>Radio</th>
                                    <th>AP</th>
                                    <th>RSSi(dBm)</th>
                                    <th>Connection Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    
                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
