<section class="content">
    <div class="container-fluid">
        <div class="card-view">
            <div class="heading border">
                <div class="title">
                    Device Configuration List
                </div>
            </div>
            <div class="body">
                <div class="container-fluid">
                    <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title">
                                Devices configured in the system 
                            </div>
                        </div>
                        <div class="body">
                        <div class="table-container">
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>UID</th>
                            <th>Status</th>
                            <th>Modified On</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                                </tr>
                        </tbody>
                    </table>
                
                </div>
             
                        
                        </div>
                        
                    </div>
                    
                     <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title">
                                New devices registered to cloud  
                            </div>
                        </div>
                        <div class="body">
                        <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>UID</th>
                            <th>Status</th>
                            <th>Modified By</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                                </tr>
                        </tbody>
                    </table>
                
                </div>
             
                        
                        </div>
                        
                    </div>
                    
                     <div class="card-view bt2">
                        <div class="heading border">
                            <div class="title">
                                Devices streaming messages to system for the past 24hrs   
                            </div>
                        </div>
                        <div class="body">
                        <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th># Messages</th> 
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td> 
                            </tr>
                        </tbody>
                    </table>
                
                </div>
             
                        
                        </div>
                        
                    </div>
                </div>
                
                
                
                   
            </div>
        </div>
    </div>
</section>