{{#partial "page"}}
  <div id="page-content-wrapper" class="" style="position: relative;">
	<div class="container-fluid">
		
		<!--  Breadcrumbs Start -->
		<h4 class="acc-sec-title"></h4>		
		<div class="col-md-12 "  >
			<div class="row log-table-head dd-log-head">
				<div class="lth-left">
					<span><i class="fa fa-newspaper-o"></i> Report </span>		
				 <i class="fa fa-angle-right" aria-hidden="true"></i>
					<span title="{{customername}}"><div id=""></div>{{customername}}</span>	
				</div>
				<div class="GeneratePdf">
					<a class="btn btn-sm mobilehideS addhide hidden-sm hidden-md" title="Screenshot" href="javascript:generate()"  id="savepdf" ><i class="fa fa-camera"></i></a> 
					<!-- <a class="btn btn-sm mobilehideS addhide hidden-sm hidden-md" title="Tags" href="/facesix/web/beacon/list?sid={{sid}}&cid={{cid}}&spid={{spid}}"><i class="fa fa-tags"></i></a>
				 	<a class="btn btn-sm mobilehideS addhide hidden-sm hidden-md" title="Alerts" href="/facesix/web/beacon/alerts?sid={{sid}}&cid={{cid}}"><i class="fa fa-bell-o"></i></a> -->
					<button class=" btn btn-sm toggleBtns collapsed marg-eye" title="Show/Hide Report" style="background: none;background: none; position: relative;" data-toggle="collapse" data-target="#togglePdfGen"><i class="fa fa-eye-slash faa-vertical animated" aria-hidden="true"></i></button>
				</div> 
			</div>
		</div>
		<div class="clearfix"></div>
		<!--  Breadcrumbs End -->
		
		{{#if GatewayFinder}}
		<div class="col-md-12">
	        <ul class="ui-tabs-nav">
				<li class=""><a href="/facesix/gwreports?cid={{cid}}&sid={{sid}}&spid={{spid}}" class="btn btn-sm">Device Report</a></li>
				<li class="active"><a href="/facesix/web/beacon/reports?cid={{cid}}&sid={{sid}}&spid={{spid}}"  class="btn btn-sm">Tag Report</a></li> 
			</ul>
		</div>
		{{/if}}
		
		<!--  Toggle Section  -->
	  	<div class="clearfix"></div>
	  	<div class="collapse" id="togglePdfGen" >
		  	<div class="" >
	                <div class="col-lg-12 col-md-12 col-sm-12 ">
	                    <div class="panel panel-default"  style="box-shadow:5px 6px 5px #cdd9ef;">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-1"> </div>
										<div style="float:left; width:100%;">
										<div style="margin-bottom: 20px;"></div>
										<form role="form" action="/facesix/rest/beacon/trilaterationReports/format" method="get" target="_blank" id="conform">
										<div class="leftclass">
										<div class="w50" style="margin-left: 13px;">
										<div class="form-group disp-inline">
													<span style="margin-left: 0px;">Time</span>
													<select class="form-control stylenew" name="time" id="time">
														<option value="4h" selected>4 Hours</option>
														<option value="6h">6 Hours</option>
														<option value="8h">8 Hours</option>								
														<option value="12h">12 Hours</option> 
													</select>
												</div>
												<div class="form-group disp-inline aln-vn" style="margin-top:40px;">
													<span for="">Venue Name</span>
													<select class="form-control stylenew" name="venuename" id="venuename" >
														<!-- <option value="all">ALL</option> -->
													</select>
												</div>
												
												<div class="form-group disp-inline aln-tt" style="margin-top: 45px;">
													<span style="margin-left: 0px;margin-right: 7px;">TagType</span>
													<select name="tagType" id="tagType" disabled class="form-control stylenew align" placeholder="Select Tagtype"> 
													</select> 
													</input>
												</div>
												
												<div  style="display:none">
													<input type="text" class="form-control" name="cid" id="cid" value="{{cid}}">
												</div>
												
												</div>
												<div class="w50 align-right">
												<div class="form-group disp-inline aln-rt">
													<span>Report Type</span>
													<select class="form-control stylenew" name="reporttype" id="reporttype">
														<option value="all">ALL</option>
														<option value="asset">Asset</option>
														<option value="nonasset">Person</option>
													</select>
												</div>
												<div class="form-group disp-inline aln-fn" style="margin-top:40px;">
													<span for="">Floor Name</span>
													<select class="form-control stylenew" name="floorname" id="floorname"  disabled>
														<option value="all">ALL</option>								
													</select>
													<p id="smallLoadingFloor" style="margin-top:-26px;margin-left:156px;margin-bottom: 0px"></p>
												</div>
												
												<div class="form-group disp-inline venueOk" style="margin-top: 67px;">
													<span>TagName</span>
													<select class="form-control stylenew" name="tagname" id="tagname"  disabled> 								
													</select> 
												</div>
												</div>
												<div class="w50">
												<div class="form-group disp-inline float-ft aln-ft" >
													<span>Filter Type</span>
													<select class="form-control csslast" name="filtertype" id="filtertype">
														<!--  <option selected="" value="default">Default</option>  -->
														<option value="venue" selected>Venue</option>
														<option value="floor">Floor</option>
														<option value="location">Location</option>
														<option value="tagType">Tag Type</option>
														<option value="tagname">Tag Name</option> 
														<option id="devIn" value="deviceInfo">Device Info</option>
													</select>
												</div>
												<div class="form-group disp-inline float-lct" style="margin-top: 40px;">
													<span for="">Location</span>
													<select class="form-control csslast" name="location" id="location"  disabled>
														<option value="all">ALL</option>								
													</select>
													<p id="smallLoading" style="margin-top:-26px;margin-left:136px;"></p>
												</div>
													 
												<div class="form-group disp-inline buttonst" id="bbut" style="">
													<select class="form-control" name="fileformat" id="fileformat">
														<option value="html">HTML</option>
														<option class="addhide hidden-sm hidden-md" value="pdf">PDF</option>
														<option class="addhide hidden-sm hidden-md" value="csv">CSV</option>
													</select>												
												</div>
												<button type="submit" class="btn btn-primary btn3d btn-config" id="but">Customized Report</button>
												</div>
												<div> 
						 						</div>
												</div>
												</form>
	                                <!-- /.col-lg-6 (nested) -->
	                                <div class="col-lg-1"> </div>
	                            </div>
	                            <!-- /.row (nested) -->
	                        </div>
	                        <!-- /.panel-body -->
	                    </div>
	                    <!-- /.panel -->
	                </div>
	                <!-- /.col-lg-12 -->
	            </div>
	            <!-- /.row -->
	        </div>
        </div>
   </div>
       
       	<div class="container-fluid">
	  	<!-- Report Filter Form Start -->
	  	<div class="addReport col-md-12">
		  	<div class="panel panel-default"  style="box-shadow:5px 6px 5px #cdd9ef;">
		  	    <div class="removeElements">
			  	    <br />
			  		<div class="col-lg-4 col-md-4 col-sm-6">
			  			<div class="form-group">
						    <label for="email">Venue Name:</label>
						    <select class="form-control stylenew" name="venuenames" id="venuenames"   >
								<!-- <option value="all">ALL</option> -->
							</select>
					  	</div>	
			  		</div>
		  		</div>
		  		<!--   
		  		<div class="col-lg-4 col-md-4 col-sm-6">
		  			<div class="form-group">
					    <label for="email">Floor Name:</label>
					    <select class="form-control stylenew" name="floornames" id="floornames"   disabled >
							<option value="all">ALL</option>
						</select>
				  	</div>	
		  		</div>
		  		<div class="col-lg-4 col-md-4 col-sm-6">
		  			<div class="form-group">
					    <label for="email">Location:</label>
					    <select class="form-control stylenew" name="locations" id="locations"  disabled >
							<option value="all">ALL</option>
						</select>
				  	</div>	
		  		</div>
		  		-->
		  		<!-- <div class="col-lg-3 col-md-3 col-sm-6">
		  			<div class="form-group">
					   <button class="btn btn-sm btn-primary" id="reloadReport">Generate Report</button>
				  	</div>	
		  		</div>
		  		 -->
		  		<div class="clearfix"></div> 
		  		
		  		<div class="" style="background: #fff;">
		  		<style>
		  			#printableArea .venus-chart-common{
		  				box-shadow: none;
		  				border: none;
	  				    background: #eef2f6;
		  			}
		  		</style>
	  		  <div class="" id="printableArea" style="background: #fff; padding-top: 15px;"> 
			  	<div id="defaultGraph">
				  	<div class="col-md-4 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" ">
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Tags Status</label>
								</div>
								<div class="chart1Section">
									<div id="vdChart1" class="ui_charts"></div>
								</div>
							</div>
						</div>
				  		
				  	</div>
				  	
			  	 
			  
				  	<div class="col-md-4 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Active Tag Types</label>
								</div>
								<div class="chart1Section">
									<div id="dd-chart5" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
			  	
			  		<div class="col-md-4 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Tag State vs Floors</label>
								</div>
								<div class="chart1Section">
									<div id="fd_chart4" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
					 	 
				  	</div>
			  	
			  		<div class="col-md-4 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Floor vs Traffic</label>
								</div>
								<div class="chart1Section">
									<div id="FloorTraffic" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  	
				  	</div>
				  	
				  	<div class="col-md-8 col-sm-12">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<select class="txrxswap" >
										<option selcted>Receiver Venue Downlink/Uplink Speed</option>
										<option value="Uplink">Uplink Speed</option>
										<option value="Downlink">Downlink Speed</option>
									</select>
								</div>
								<div class="chart1Section">
									<div id="fd_chart2" class="ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
			  	 	<div class="clearfix"></div>
			  	 </div>
			  	 
			  	 <!-- Graph Tag types Start -->
			  	 <div id="graph_tagType" class="graphFilterType">
			  	 	
			  	 	<!-- 
			  	 	<div class="col-md-6 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Tag Status</label>
								</div>
								<div class="chart1Section">
									<div id="tags_stateCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
				  	
				  	
			  	 	<div class="col-md-6 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Tag Type</label>
								</div>
								<div class="chart1Section">
									<div id="tags_tagTypeCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
				  	 -->
				  	
				  	
				  
				  	
				  	<div class="col-md-6 col-sm-6 ">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Frequently Used Floors</label>
								</div>
								<div class="chart1Section">
									<div id="tags_floorFreqCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
				  	
			  		<div class="col-md-6 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Frequently Used Locations</label>
								</div>
								<div class="chart1Section">
									<div id="tags_locationFreqCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div>  
				  	</div>
				  	
				  	
				  	<div class="clearfix"></div>
			  	 </div>
			  	 <!-- Graph Tag types End -->
			  	 
			  	 <!-- Graph Tag types Start -->
			  	 <div id="graph_tagname" class="graphFilterType">
			  	 	
			  	 	<!--    
			  	 	<div class="col-md-6 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Tag Type</label>
								</div>
								<div class="chart1Section">
									<div id="tags_tagTypeCount" class="text-center "></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
				  	-->
				  	
				  	
				  	
				  	
				  	<div class="col-md-6 col-sm-6 freqFloor">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Frequently Used Floors</label>
								</div>
								<div class="chart1Section">
									<div id="tagname_floorFreqCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div>
				  	
				  	<div class="col-md-6 col-sm-6 freqLocation">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Frequently Used Locations</label>
								</div>
								<div class="chart1Section">
									<div id="tagname_locationFreqCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div>  
				  	</div>
				  	
				  	<div class="col-md-12 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Tag Activity</label>
								</div>
								<div class="chart1Section">
									<div id="tagname_stateCount" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div> 
				  	
				  	<div class="col-md-12 col-sm-6">
				  		<div class="venus-chart1 venus-chart-common" >
							<div class="chart1">
								<div class="netflowData select-filter-Plan venue-filter">
									<label>Time Vs Extry-Exit</label>
								</div>
								<div class="chart1Section">
									<div id="tagname_stateCount_Unique" class="text-center ui_charts"></div>
								</div>
							</div>
						</div> 
				  		
				  	</div> 
				  	
				  	<div class="clearfix"></div> 
			  	 	 
				  </div>
				  
				  <!-- Graph venue based -->
				  <div id="graph_venue" class="graphFilterType">
				  
				  		
					  	
					  	<div class="col-md-4 col-sm-12 minimize_venue">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Floor Based Tag Types</label>
									</div>
									<div class="chart1Section">
										<div id="venue_BasedTagType" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>  
					  	 
					  	
				  		<div class="col-md-4 col-sm-12 minimize_venue">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Floors</label>
									</div>
									<div class="chart1Section">
										<div id="venue_fuf" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-4 col-sm-12 minimize_venue">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Locations</label>
									</div>
									<div class="chart1Section">
										<div id="venue_ful" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-12 col-sm-12" id="venue_du_com">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<select class="venue_uplink_downlink" >
											<option selcted>Receiver Venue Downlink/Uplink Speed</option>
											<option value="Uplink">Uplink Speed</option>
											<option value="Downlink">Downlink Speed</option>
										</select> 
									</div>
									<div class="chart1Section">
										<div id="venue_txrx" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
					  	
				  		
					  	
			  			<div class="clearfix"></div>
				  </div>
				  
				  
				  <!-- Graph Location Based -->
				  <div id="graph_default" class="graphFilterType">
				  
				  		<div class="col-md-4 col-sm-6">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Floor Based Tag Types</label>
									</div>
									<div class="chart1Section">
										<div id="default_BasedTagType" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
				  		<!-- 
				  		<div class="col-md-6 col-sm-6">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Tag Status</label>
									</div>
									<div class="chart1Section">
										<div id="default_tag_status" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
				  		
				  		<div class="col-md-6 col-sm-6">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Tag Types</label>
									</div>
									<div class="chart1Section">
										<div id="default_tag_types" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	 -->
					  	 
				  		<div class="col-md-4 col-sm-6">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Floors</label>
									</div>
									<div class="chart1Section">
										<div id="default_fuf" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-4 col-sm-12">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Locations</label>
									</div>
									<div class="chart1Section">
										<div id="default_ful" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
				  		
					  	
			  			<div class="clearfix"></div>
				  </div>
				  
				  
				  
				  <!-- Graph Floor based -->
				  <div id="graph_floor" class="graphFilterType">
				  
				  		
					  	 
					  	<div class="col-md-4 col-sm-6 min_width1">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Floor Based Tag Types</label>
									</div>
									<div class="chart1Section">
										<div id="floor_BasedTagType" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
					  	
				  		<div class="col-md-4 col-sm-6 min_width1" id="floor_fuf_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Floors</label>
									</div>
									<div class="chart1Section">
										<div id="floor_fuf" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-4 col-sm-6  min_width1" id="floor_ful_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Locations</label>
									</div>
									<div class="chart1Section">
										<div id="floor_ful" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-12 col-sm-12" id="floor_uplinkDlink">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<select class="uplink_downlink" >
											<option selcted>Receiver Venue Downlink/Uplink Speed</option>
											<option value="Uplink">Uplink Speed</option>
											<option value="Downlink">Downlink Speed</option>
										</select> 
									</div>
									<div class="chart1Section">
										<div id="floor_txrx" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
				  		
					  	
			  			<div class="clearfix"></div>
				  </div>
				  
				  
				  
				  <!-- Graph Location based -->
				  <div id="graph_location" class="graphFilterType"> 
				  		 
				  		 
					  	
				  		<div class="col-md-4 col-sm-6 min_width2" id="location_lbtt_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Location Based Tag Types</label>
									</div>
									<div class="chart1Section">
										<div id="location_BasedTagType" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
					  	 
				  		<div class="col-md-4 col-sm-6 min_width2" id="location_fuf_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Floors</label>
									</div>
									<div class="chart1Section">
										<div id="location_fuf" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-4 col-sm-6 min_width2" id="location_ful_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Frequently Used Locations</label>
									</div>
									<div class="chart1Section">
										<div id="location_ful" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
				  		<div class="col-md-6 col-sm-12" id="location_basedTagTypes">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Location Based Tag Type</label> 
									</div>
									<div class="chart1Section">
										<div id="location_btt" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
					  	
				  		 <div class="col-md-12 col-sm-12" id="location_uplinkDlink">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<select class="location_uplink_downlink" >
											<option selcted>Receiver Venue Downlink/Uplink Speed</option>
											<option value="Uplink">Uplink Speed</option>
											<option value="Downlink">Downlink Speed</option>
										</select> 
									</div>
									<div class="chart1Section">
										<div id="location_txrx" class="text-center ui_charts"></div>
									</div>
								</div>
							</div>  
					  	</div>
					  	
					  	
					  	
					  	
					  	<div class="col-md-12 col-sm-12" id="location_cpu_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Receiver CPU Utilization</label>
									</div>
									<div class="chart1Section">
										<div id="location_cpu_utilazation" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	<div class="col-md-12 col-sm-12" id="location_memory_graph_option">
					  		<div class="venus-chart1 venus-chart-common" >
								<div class="chart1">
									<div class="netflowData select-filter-Plan venue-filter">
										<label>Receiver Memory Utilization</label>
									</div>
									<div class="chart1Section">
										<div id="location_memory_utilazation" class="text-center ui_charts"></div>
									</div>
								</div>
							</div> 
					  		
					  	</div>
					  	
					  	
			  			<div class="clearfix"></div>
				  </div>
				  
				  
			  	 
			  </div>	
		  	</div>
		  	
		  		
		  	</div>
	  	
		  	
	   
   			<!--  Device Info table  -->
   			
   			<!-- {{#if INACTIVE_WRITE}}
   			 
			<div class="row">
				<div class="col-md-12 padding-device padding-right-0" style="padding-right: 15px;">
					<div class="chart-box table-chart-box"></div>
				</div>	
			</div>
			 {{/if}} -->
		</div>
		</div>
	  	<!-- Report Filter Form End -->
	  	
	  	
         
        <!-- /#page-wrapper -->
	<!-- <script src="/facesix/static/qubercomm/js/dev-edit.js"></script> -->
 
 
 		
<!-- js -->
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/c3.css"/>


<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/jquery_validate_min_js.js" type="text/javascript"></script> 
<script src="https://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>


<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.nicescroll.min.js"></script>

<script type="text/javascript" src="/facesix/static/qubercomm/js/common.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/handlebars.min.js"></script>
<script type="text/javascript" src="/facesix/static/finder/js/script.js"></script>
  
<script type="text/javascript" src="/facesix/static/qubercomm/js/d3.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/c3.js"></script>   

<!--  Chosen / Select DropDown -->
<script type="text/javascript" src="/facesix/static/finder/js/chosen.jquery.min.js"></script>
<link href="/facesix/static/finder/css/chosen.min.css" rel="stylesheet" type="text/css" />

<script src="/facesix/static/qubercomm/js/html2canvas.js"></script> 
<script type="text/javascript" src="/facesix/static/finder/js/report.js"></script>

<div id="my_mm" style="height: 1mm; display: none"></div> 


<script id="chartbox-beacon-template" type="text/x-handlebars-template">
	
	<div class="device-coon-desc">
		<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
		<label>Device Info </label>
		<span class="table-page" data-table-name="dashboard-table">\{{#if show_previous_button}}<i class="fa fa-caret-left acl-tablePreviousPage"></i>\{{/if}}&nbsp;\{{#if show_next_button}}<i class="fa fa-caret-right acl-tableNextPage"></i>\{{/if}}</span>
		<select class="tablelength" id="tablelength" data-target="#dashboard-table">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50"selected>50</option>
			<option value="100">100</option>
		</select>	
		 
	</div>

	<div class="tableSection">
		<table class="table dashboard-table" id="dashboard-table" data-current-page="\{{current_page}}" data-row-limit="50">
			<thead id="tableSortChanged">
				<tr>
					<th onclick="sort_table('beaconid', 0, asc1);  asc1 *= -1; asc2 = 1; asc3 = 1;" class="width-40"># <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> Location <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 2, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> UID <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 3, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> Device uptime <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 4, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> Application uptime<i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 5, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> Version <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 6, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> Build Time <i class="fa fa-arrow-up"></i></th>
					<th onclick="sort_table('beaconid', 7, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;"> TagsSeen <i class="fa fa-arrow-up"></i></th>
					
			</tr>
			</thead>

			<tbody id="beaconid" class="CheckAllWrp">
				\{{#each data}}
				<tr mac-id="{{mac_address}}" ap="{{ap}}" uid="" ssid="{{ssid}}">
					<td>\{{index}}</td>
					<td>\{{locationname}}</td>
					<td>\{{uid}}</td>
					<td>\{{deviceUptime}}</td>
					<td>\{{appUptime}}</td>
					<td>\{{version}}</td>
					<td>\{{build}}</td>
					<td>\{{tagcount}}</td>
					
				</tr>
				\{{/each}}
			</tbody>

		</table>
	</div>	
	
</script>

<script type="text/javascript">

$("#tagname").on("keypress", function(e) {
    if (e.which == 32 && !this.value.length)
        e.preventDefault();
    	
});

$("#tagType").on("keypress", function(e) {
    if (e.which == 32 && !this.value.length)
        e.preventDefault();
    
});

$("#conform").validate({
    rules: {
    	tagname: {
            required: true
        },
        tagType:{
        	required: true
        }
    },
    submitHandler: function(form) {
        form.submit();
    }
});


$("#filtertype").on("change",function(){
	$('#tagname').css("border","1px solid #ccc");
	$('#tagType').css("border","1px solid #ccc");
	document.getElementById("but").disabled = false;
	
	var filtype = $('#filtertype').val();
	if (filtype == "tagname"){
		$("#tagname" ).focus();
		$('#tagType').trigger("chosen:updated");
		$('#tagname').val($('#tagname option:nth-child(1)').val());
		$('#tagname').trigger("chosen:updated");
	} else if(filtype == "tagType"){
		$("#tagType" ).focus();
		$('#tagname').trigger("chosen:updated");
		$('#tagType').val($('#tagType option:nth-child(1)').val());
		$('#tagType').trigger("chosen:updated");
	}

});
$("#tagname").focusout(function(){
   	
   	var tag = $('#tagname').val();
   	var ok = tag.startsWith(" ");
   	
   	if(ok == true || tag == ""){
   		$('#tagname').css("border-color","red");
   		document.getElementById("but").disabled = true;
   	} else {
   		$('#tagname').css("border","1px solid #ccc");
   		document.getElementById("but").disabled = false;
   	}

});

$("#tagType").focusout(function(){
    	
    	var type = $('#tagType').val();
        /* var tk = type.startsWith(" ");
    	
    	if(tk == true || type == ""){
    		$('#tagType').css("border-color","red");
    		document.getElementById("but").disabled = true;
    	} else {
    		$('#tagType').css("border","1px solid #ccc");
    		document.getElementById("but").disabled = false;
    	} */
   	
    });
</script>
<style> 
#conform .valign{
     vertical-align: top !important;
     margin-top: 15px !important;
}
 #conform .error{
     border-color: #cd0a0a !important;
}
 .border-error{
     border: 1px solid red !important;
}
 .w50 {
     float:left;
     width:32%;
}
 .form-control {
     height:30px!important;
     font-size:12px;
}
 .stylenew{
     width:220px;
     margin-top: -26px;
     margin-left: 111px;
}
 .csslast{
     width:220px;
     margin-top: -26px;
     margin-left: 90px;
}
 #title{
     margin-left: 74px;
}
 .buttonst{
     width:220px;
     margin-top:30px;
     margin-left:88px;
}
 #fileformat{
     width: auto;
     margin-top: 65px;
     margin-left: -87px;
     padding:5px;
}
 #but{
     margin-left: 165px;
    margin-top: 155px;
    position: absolute;
}
.marg-eye{
    margin-top: -2px;
}
.aln-vn{
	margin-top: 40px;
}
.aln-tt{
	margin-top: 45px;
}
.aln-fn{
	margin-top: 40px !important;
}

#bbut{
	position: relative;
    margin-top: -20px;
}

 @media screen and (max-width: 768px){
     .w50 {
         float: left;
         width: 136px;
         margin-left: 86px !important;
    }
     .form-control {
         height:30px!important;
         font-size:12px;
    }
     .stylenew{
         width:170px;
         margin-top: -26px;
         margin-left: 111px;
         margin-bottom: 25px;
    }
     .csslast{
         width:135px;
         margin-top: -26px;
         margin-left: 0px;
         margin-top: 0px;
    }
     #title{
         margin-left: 87px;
    }
     .buttonst{
         width:220px;
         margin-top:30px;
         margin-left:147px;
    }
     #fileformat{
         width: auto;
         margin-top: 47px;
         margin-left: -144px;
         padding:5px;
    }
     .chosen-single{
         margin:0;
    }
     #tagType_chosen, #tagname_chosen{
         margin-left: -40px !important;
         padding: 0 40px !important;
    }
     #but {
         margin-left: 0px;
         margin-top: 0px;
         position: static;
    }
     .buttonst {
         margin-top: -10px;
         margin-left: 145px;
         margin-bottom: 30px;
    }
    .marg-eye{
    	margin-top: -6px;
    }
}

 @media only screen and (min-device-width : 768px) and (max-device-width : 1025px){
     .w50 {
         float: left;
         width: 136px;
         margin-left: 158px !important;
    }
     .form-control {
         height:30px!important;
         font-size:12px;
    }
     .stylenew{
         width:170px;
         margin-top: -26px;
         margin-left: 111px;
         margin-bottom: 25px;
    }
     .csslast{
         width:170px;
         margin-top: -26px;
         margin-left: 110px;
    }
     #title{
         margin-left: 87px;
    }
     .buttonst{
         width:220px;
         margin-top:30px;
         margin-left:147px;
    }
     .leftclass{
         margin-left: -142px;
    }
     #page-content-wrapper {
         padding: 0px 20px 0px 80px;
    }
     #tagType_chosen, #tagname_chosen {
         margin-left: 87px !important;
         padding: 0 25px !important;
         margin-top: -37px;
    }
     .float-ft{
         margin-left: -292px;
         margin-top: 20px;
    }
     .float-lct{
         margin-top: -40px !important;
    }
     .buttonst {
         margin-top: -10px;
         margin-left: 145px;
         margin-bottom: 30px;
    }
     #but {
         margin-left: 130px;
         margin-top: 0px;
    }
    .marg-eye{
    	margin-top: 25px;
    }
}

 .venus-chart-common{
     height: auto;
     min-height: 355px;
}
 .chart1Section{
     padding-bottom: 5px;
}
 .GeneratePdf{
     float: right;
}
 .GeneratePdf .btn{
     color: #009bc2;
     font-weight: bold;
     font-size: 18px;
}

 @media screen and (max-width: 480px){
     .stylenew{
         width: 100%;
         float: none;
         margin-left: 0;
         margin-top: 0;
    }
    .aln-vn{
		margin-top: 30px !important;
	}
	.aln-tt{
		margin-top: 30px !important;
	}
	.aln-rt{
		margin-top: 5px !important;
	}
	.aln-fn{
		margin-top: 0px !important;
		padding-bottom: 15px !important;
		margin-bottom: -28px;
	}
	.aln-tn{
		margin-top: 0px !important;
	}
	.aln-ft{
		margin-top: 7px !important;
		margin-bottom: -15px !important;
	}
	#smallLoading{
		margin-left: 50px !important;
	}
	#smallLoadingFloor{
		margin-top: -50px !important;
    	margin-left: 50px !important;
	}
}

 
 .toggleBtns{
     -o-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
     bottom: 0;
}
 .toggleBtns.collapsed{
     -o-transform: none;
     -ms-transform: none;
     -moz-transform: none;
     -webkit-transform: none;
     transform: none);
     bottom: -2px;
}
 #tagType_chosen, #tagname_chosen{
     min-width: 220px;
     margin-left: 49px;
     padding: 0;
     line-height: 1.42857143;
     color: #555;
     background-image: none;
}
 #tagType_chosen a, #tagname_chosen a{
     background: #fff;
     padding: 6px 12px;
     display: inline-block;
     width: 100%;
     border: 1px solid #ccc;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
     -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
     line-height: 1.42857143;
     min-height: 30px;
}
 #tagType_chosen.chosen-disabled, #tagname_chosen.chosen-disabled{
     opacity: 1 !important;
}
 #tagType_chosen.chosen-disabled a, #tagname_chosen.chosen-disabled a{
     background: #eee;
}
 body.customizedReportEnabled .removeElements{
     display: none;
}
 .c3-chart-arc path {
     stroke: #eef2f6;
}
 .venus-chart-common div{
     background: #eef2f6;
}
 .ui_charts{
     z-index: 999;
     position: relative;
}
 .venus-chart-common{
     position: relative;
}
 .venus-chart-common:before{
     content: "No data...";
     left: 50%;
     position: absolute;
     top: 50%;
     z-index: 0;
     -o-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
 
[data-html2canvas-node3] .venus-chart-common:before{
	content: "";
}

.smallLoader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid blue;
  border-right: 2px solid green;
  border-bottom: 2px solid red;
  border-left: 2px solid pink;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>
<!-- loader box -->
<link rel="stylesheet" href="/facesix/static/geo/css/loader.css">
<div class="loader_box" style="display: none;">	
	<div class="loader"></div>
	<h4 class="text-center">Exporting Reports...</h4>
</div>

<div class="loader_box loaderbox_camera" style="display: none;">	
	<div class="loader"></div>
	<h4 class="text-center">Please wait...</h4>
</div>

<script>

var showme = $('#fileformat').val();

$(document).ready(function(){
	$('#devIn').hide();
	
});


$('#fileformat').on('change',function(){

var fileType = $('#fileformat').val();
var hideme = $('#filtertype').val();
//console.log(fileType)

if(fileType == "html"){
	$('#devIn').hide();
} else {
	$('#devIn').show();
}

if($('#filtertype').val() == 'deviceInfo'){
  	document.getElementById("filtertype").value = "venue";
  	document.getElementById("time").disabled = false;
  	document.getElementById("reporttype").disabled = false;
  	document.getElementById("floorname").disabled = true;
  	}
  		
})



</script>
{{/partial}}

{{>qubercomm/nav-top}}
{{>qubercomm/nav-left}}
{{>qubercomm/wrapper}}