{{#partial "page"}}
<div id="page-content-wrapper"  class="">
	<div class="container-fluid">
	<div class="col-md-12 padding-right-0 mob-nmvenue">
			<div class="row log-table-head dd-log-head">
				<div class="lth-left">
					<span>VENUE</span>		
				 <i class="fa fa-angle-right" aria-hidden="true"></i>
					<span title="{{sitename}}"><div id="sname"></div></span>	
				<i class="fa fa-angle-right" aria-hidden="true"></i>	
					<span title="{{fsobject.uid}}"><div id="flname"></div></span>
				</div>
				<div class="lth-right searchTAG pull-right " style="margin-right: 19px">
					<div class="search-opt">
						<form action="/facesix/web/beacon/list/filter" id="target">
							<div class="form-group">
								<div class="search-box">
									<span class="icon" id="searchClick">
										<i class="fa fa-search " aria-hidden="true"></i>
									</span>
									<input type="hidden" name="sid" value="{{sid}}">
									<input type="hidden" name="cid" value="{{cid}}">
									<input type="hidden" name="place" value="venue">
									<input type="search" name = "name" id="click" class="form-control search-align">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="uitag-card">
			<div class="row">
				{{#if entryexit}}
				<div class="col-md-4 col-sm-6">
				{{else}}
				<div class="col-md-3 col-sm-6">
				{{/if}}
					<div class="ui-card">
						<i class="fa fa-tags"></i>
						 <h2 id="tagsTotal">0</h2>
						 <h4>Total Tags</h4>
					</div>
				</div>	
				{{#if entryexit}}
				<div class="col-md-4 col-sm-6">
				{{else}}
				<div class="col-md-3 col-sm-6">
				{{/if}}				<div class="ui-card">
						<i class="fa fa-tags bg-tagsActive"></i>
						 <h2 id="tagsActive">0</h2>
						 <h4>Active Tags</h4>
					</div>
				</div>	
				{{#if entryexit}}
				{{else}}
				<div class="col-md-3 col-sm-6">
					<div class="ui-card">
						<i class="fa fa-tags bg-tagsIdle"></i>
						 <h2 id="tagsIdle">0</h2>
						 <h4>Idle Tags</h4>
					</div>
				</div>	
				{{/if}}
				{{#if entryexit}}
				<div class="col-md-4 col-sm-6">
				{{else}}
				<div class="col-md-3 col-sm-6">
				{{/if}}
					<div class="ui-card">
						<i class="fa fa-tags bg-tagsInactive"></i>
						 <h2 id="tagsInactive">0</h2>
						 <h4>Inactive Tags</h4>
					</div>
				</div>	
				<div class="clearfix"></div>
			</div>
		</div>
		<!--  
		<div class="col-md-3 floorChartLine padmob-10 floordash-col ">
			<div class="card-box fd-card">
				<div class="cb-center">
					<div class="circle-chart">
						<div id="downchart" class="progress"></div>
					</div>
				</div>
				<div class="cb-caption">
					<label>Inactive Tags</label>
				</div>
			</div>
		</div>

		<div class="col-md-3 floorChartLine padmob-10 floordash-col ">
			<div class="card-box fd-card">
				<div class="cb-center">

					<div class="circle-chart">
						<div id="demo-pie-2" class="progress"></div>
					</div>
				</div>
				<div class="cb-caption">
					<label>Active Tags</label>
				</div>				
			</div>
		</div>
		<div class="col-md-3 floorChartLine padmob-10 floordash-col ">
			<div class="card-box fd-card">
				<div class="cb-center">

					<div class="circle-chart">
						<div id="idlechart" class="progress"></div>
					</div>
				</div>
				<div class="cb-caption">
					<label>Idle Tags</label>
				</div>				
			</div>
		</div>
		
		<div class="col-md-3 floorChartLine padmob-10 floordash-col ">
			<div class="card-box fd-card">
				<div class="cb-center">

					<div class="circle-chart">
						<div id="demo-pie-4" class="progress"></div>
					</div>
				</div>
				<div class="cb-caption">
					<label>Inactive Tags</label>
				</div>				
			</div>
		</div>
		 -->
		<!-- <div class="col-md-3 devicecol-3 device-col padding-device ">
			<div class="card-box fd-card">
				<div class="cb-center">
					<div class="chart1Section text-center">
						<div id="dd-chart1" class="chart-style"></div>
					</div>
				</div>
				<div class="cb-caption">
					<label>Connected Tag Type</label>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 floorChartLine padmob-10 floordash-col ">
			<div class="card-box fd-card">
				<div class="cb-center">
					<img src="/facesix/static/qubercomm/images/venue/alert.gif" class="alert-gif hide" alt="alert">
				</div>
				<div class="cb-caption">
					<label class="alertText"></label>
				</div>
			</div>
		</div>  -->
		
		
		
		<div class="col-md-12 padding-right-0 padding-md-0">
			<div class="recent-Overview">
				<div class="networkActWrp">
				<div class="networkAct display-inline">
					<label>Network Activity</label>
				</div>
				<div >
				<select  class="form-control display-inline" name="floorType" id="floorType" onchange="fChange()">
				
				{{#each portion as |p i|}}
					<option value="{{p.id}}" data-width="{{p.width}}" data-height="{{p.height}}">{{p.uid}}</option>
				{{/each}}
				</select>
				</div>
				</div>
			</div>
			<div class="form-control popClass" id="popUp_content" style="display: none;">
			</div>
		</div>
		<div class="col-md-12 floorCan padmob-10 floordash-col" style="padding-bottom: 20px;">
			<div class="panel panel-default na-panel"  style="box-shadow: 5px 6px 5px #cdd9e5;">
				<div class="panel-heading">
					<ul class="list-unstyled margin-btm-0">
						<li class="tagsfilters">
						
							<div class="onoffswitch ">
						  	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchONOFF" checked>
							    <label class="onoffswitch-label" for="switchONOFF">
							        <span class="onoffswitch-inner onoff"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
							
							<div class="onoffswitch ">
						  	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tagsONOFF" checked>
							    <label class="onoffswitch-label" for="tagsONOFF">
							        <span class="onoffswitch-inner onoff"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
							
							<div class="onoffswitch filterUI active">
						  	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="inactiveONOFF" checked>
							    <label class="onoffswitch-label" for="inactiveONOFF">
							        <span class="onoffswitch-inner onoff"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div> 
							<div class="catFilter filterUI active">
								<select class="multiselect-ui" multiple style="opacity: 0;height:0;"> 
							 	</select>
							</div>
							<div class="onoffswitch drdw-res plan ">
								<select  class="form-control display-inline sle" name="floorTypeZoom" id="floorTypeZoom" onchange="fChangeZoom()">
								
								{{#each portion as |p i|}}
									<option value="{{p.id}}" data-width="{{p.width}}" data-height="{{p.height}}">{{p.uid}}</option>
								{{/each}}
								</select>
								<b class="carett"></b>
							</div>
							
						 </li>
						  
						 
					<!--  <li class="pull-left">
						<select class="display-inline selectag" onChange="showTag(this.value);">
							<option  value="0">Tag off </option>
							<option selected="" value="1">Tag On </option>
						</select>
						</li> 
						 -->
						<!-- <li>
						
						<select class="display-inline selectzoom" onChange="zoomicon(this.value);">
							<option  value="0">Zoom off </option>
							<option selected="" value="1">Zoom On </option>
						</select>
						</li>
						 -->
						<!-- <li>
						<select class="display-inline selectzoom" id="circle">
							<option selected="" value="0">Radio Signal Off </option>
							<option  value="1">Radio Signal On </option>
						</select>
						</li> -->
						<!--  <li>
						<select class="display-inline selectzoom" id="inactive">
							<option selected="" value="0">Inactive Off </option>
							<option  value="1">Inactive Only </option>
							<option  value="2">Idle Only</option>
						</select>
						</li>
						 -->
						<li class="pull-right enlarge">
								<img src="/facesix/static/qubercomm/images/flooroverview/expand.png" alt="">
						</li>
					</ul>
				</div>
				<div class="zoomOptionsInner">
					<a href="javascript:void(0)" id="zoom-in"><img src="/facesix/static/qubercomm/images/zoom-in.png" /></a> 
					<a href="javascript:void(0)" id="zoom-out"><img src="/facesix/static/qubercomm/images/zoom-out.png" /></a> 
					<a href="javascript:void(0)" id="reset"><img src="/facesix/static/qubercomm/images/reset.png" /></a> 
				</div>
				<div class="panel-body floorsvgCont">
				<div class="mapping-section" style="overflow: hidden; position: relative;">
					<!-- 
					<div class="slider-section">
						<div class="slider">
							<label class="enlarge">
								<img src="/facesix/static/qubercomm/images/networkconfig/full.png" id="fullscreen" alt="">
							</label>
							<label>
								<img src="/facesix/static/qubercomm/images/networkconfig/plus.png" class="minus zoom-in" alt="">
							</label>
							<input type="range" class="zoom-range" min="0" max="3" step="1.0">
							<label>
								<img src="/facesix/static/qubercomm/images/networkconfig/minus.png" class="plus zoom-out" alt="">
							</label>
						</div>
					</div>
					 -->
					<!-- <div class="leftSec pull-left"></div> -->
					<div class="maping-canvas panzoom" id="main-div" style="height:auto">
						<div class="canvas-container">
							
							<svg  class="floorsvg"  id="flrmap">
								<g class="uiFloorGroupOuter"  transform="translate(0,0)" >
					 
								</g> 
				    		</svg>
						</div>
					</div>
					
				</div>
				    
				</div>
			</div>
		</div>

		<div class="col-md-4 flooraddCommon padmob-10 floordash-col" style="margin-top: 30px;">
			<div class="chart-box fd-chartbox height summaryTable">
			</div>
		</div>
		<div class="col-md-4 flooraddCommon padmob-10 floordash-col padding-left-0" style="margin-top: 30px;">
			<div class="chart-box fd-chartbox height">
				<div class="cb-center">
					<div class="chart3Section">
						<div id="dd-chart3" class="chart-style"></div>
					</div>
				</div>
				<div class="cb-caption2">
					<label>Connected Tag Type</label>
				</div>
			</div>
		</div>
		<div class="col-md-4 flooraddCommon padmob-10 floordash-col padding-left-0" style="margin-top: 30px;">
					<div class="chart-box fd-chartbox height">
				<div class="device-coon-desc">
					<label>Floor vs Traffic </label>
				</div>
						<div class="chart1Section">
							<div id="vdChart1"></div>
						</div>
					</div>
				</div>
	</div>
</div>
<div class="networkconfig" id="submenu-modal" style="display:none">
	<div class="network-popHeading">
		<label id="deviceHeading"></label>
		<span class="pull-right">
			<a href="#" onclick="javascript:$('#submenu-modal').hide();"><img src="/facesix/static/qubercomm/images/networkconfig/close.png"></a>
		</span>
	</div>
	<div class="netRoute">
		<span id="status"></span>
	</div>
	<ul>
		<li>
			<label>
				<a href="#" class="powerBtn" action="Reboot">
					<i class="fa fa-power-off"></i>
					<span>Restart</span>
				</a>
			</label>

		</li>
	</ul>
</div>
<div class="savearea" style="display:none;position:fixed">
<div class="savearea_bottom">
			<div class="left-section">
				<label>Are you sure you want to delete the Floor?</label>
			</div>
			<div class="rightsection">
				<ul class="list-unstyled">
					<li id="cancelDelete">
						<label>
							
						</label>
						<span >
							Cancel
						</span>
					</li>
					<li id="deleteItem">
						<label>
						</label>
						<span class="color2" >
							OK
						</span>
					</li>
				</ul>
			</div>
			</div>
</div>
<style>
.hidiv { position:absolute; top:700px; padding:5px 10px; background-color: rgba(255, 255, 255, 0.8); color:#4285f4; display:none;
 border:1px solid #ccc; font-size:12px;z-index:9999; } 
 .selectag { border:none; background:#fbfbfb; outline:none;}
 .selectzoom { border:none; background:#fbfbfb; outline:none;}
 /* .person { display:none;}*/ 
 .slider label .plus { width:20px; height:20px; margin-left:-10px;}
 .mapping-section { height:100%; border:none;}
 .na-panel a{cursor:pointer; }
 
.drdw-res{	 
	 margin-left: 17px;
	 visibility: hidden;
	 }
.sle{
	width: auto;
	height: 28px;
	margin-top: 0px;
    background-color: rgba(48, 148, 181, 1);
    color: #fff;
    border: none;
    border-color: #fff;
    -webkit-appearance: none;
    -webkit-border-radius: 25px;
    padding: 0px 20px 0px 12px;
}	
.carett{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 152px;
    margin-top: -50px;
    color: #fff;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
}
.sle:before{
	border-radius: 20px !important;
} 
.onoff:before{
	font-size: 13px !important;
}
.onoff:after{
	font-size: 13px !important;
}
 @media screen and (max-width: 768px){
 
 #page-content-wrapper{
 	position: absolute !important;
 	padding: 10px 15px !important
 }
 .mob-nmvenue{
 	margin-left: -13px;
 }
 }
</style>
<!-- <div class="hidiv">Tool Tip Info show</div>  -->

<!--css-->
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/c3.css"/>
<link rel="stylesheet" type="text/css" href="/facesix/static/qubercomm/css/circularprogress.css"/>
<!--#css-->
<!-- js -->	
<script src="/facesix/static/qubercomm/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/facesix/static/qubercomm/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/jquery.nicescroll.min.js"></script>
<script src="/facesix/static/qubercomm/js/circularprogress.jquery.min.js"></script>
<script type="text/javascript" src="/facesix/static/finder/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script type="text/javascript" src="/facesix/static/finder/js/svg-panzoom.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/snap.svg-min.js"></script>
<script src="/facesix/static/qubercomm/js/jqpanzoom.js" type="text/javascript"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/d3.min.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/c3.js"></script>
<script type="text/javascript" src="/facesix/static/qubercomm/js/handlebars.min.js"></script>	
<script type="text/javascript" src="/facesix/static/finder/js/newvenue.js"></script>
<script type="text/javascript" src="/facesix/static/finder/js/script.js"></script>


<script id="alerts-template" type="text/x-handlebars-template">
    <div>
        <div class="recent-heading">
            <ul class="list-unstyled margin-btm-0">
                <li class="dropdown profile-dash">
                    Alerts
                </li>
            </ul>
        </div>
        <div class="recentDataSection scrollbar-inner" tabindex="0" style="outline: none;">
			\{{#each alerts}}
				<div class="recent-venue">
					<div class="recent-data">
						<p>
							<label>\{{description}}</label>
						</p>
						<label class="pull-right venue-time">\{{count}}</label>
					</div>
				</div>
			\{{/each}}
        </div>

    </div>
</script>	
<script>
	var str = '{{sitename}}';
	console.log(str);

	if (str.length > 32) {
		str = str.substr(0, 32)
		str += "...";
	}
	
	document.getElementById("sname").innerHTML = str;
	console.log(str);

	var str = '{{fsobject.uid}}';
	
	console.log(str);
	if (str.length > 16) {
		str = str.substr(0, 16)
		str += "...";
	}
	
	document.getElementById("flname").innerHTML = str;
	console.log(str);

</script>

<script>
function fChange() {
	document.getElementById("floorTypeZoom").value = document.getElementById("floorType").value;
	}
function fChangeZoom() {
	document.getElementById("floorType").value = document.getElementById("floorTypeZoom").value;
	}
</script>
	
<script type="text/javascript">
	VenueDashboard.init();
	$(document).ready(function(){
	    $("select#floorType").change();
	    var t1 = '{{Gateway}}';
	    var t2 = '{{entryexit}}';
	    var t3 = '{{locatum}}';
	    var t4 = '{{GatewayFinder}}';
	    var t5 = '{{finder}}';
	    
	    solutionInfo(t1,t2,t3,t4,t5);

	    /* floornetworkConfig.spid = '{{spid}}';
	     * floornetworkConfig.getDevices(t1,t2,t3);
		 * $(document).on("mouseenter", ".person", function(e) { var offset = $(
		 * this ).offset(); $('.hidiv').html($( this ).attr("info")).css({ 'top' :
		 * (offset.top-50) + 'px', 'left' : (offset.left-50) + 'px'}).show();
		 * });
		 */
	    $(document).on("mouseleave", ".person", function(e) {
	    	$('.hidiv').html('').hide();
	    });
	
		search = window.location.search.substr(1)
		urlObj=JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')
		
		var sid = "{{sid}}";
		var cid = "{{cid}}";
		pop();
		function pop(){
			url = "/facesix/rest/beacon/inactivity_pop_up";
			$.ajax({
				url : url,
				method : 'GET',
				data : {
					"sid":sid,
					"cid":cid
				},
				headers : {
					'content-type' : 'application/json'
				},
				success : function(response) {
					//console.log(" >>>>>>>>>> response = " + JSON.stringify(response));
					var len = response.length;
					if(len > 0){
						var inactiveTags = "";
						$.each(response,function(index,val){
							console.log("response at index "+index+" value = "+JSON.stringify(val));
							if(inactiveTags != ""){
								inactiveTags +=",";
							}
							inactiveTags += response[index].assignedTo;
						})
						if(len == 1){
							inactiveTags+=" has";
						}else {
							inactiveTags+=" have";
						}
						$("#popUp_content").html(inactiveTags + " exited");
						$(".popClass").fadeIn("slow");
					} else {
						$(".popClass").fadeOut("slow");
					}
					
				},
				error : function(error) {
				}
			});
		
			setTimeout(function () {
			     pop();
			}, 10000);
		}
	})
</script>
<style type="text/css">
.popClass{
	display: inline;
	width: fit-content;
	min-height: 50px;
	max-width: 400px;
	max-height: 400px;
	word-wrap: break-word;
	overflow-y: auto;
    color: white;
    margin-left: 286px;
    background: #34A7C1;
    border-radius: 12px;
    margin-top: -58px;
    float: right;
    margin-right: 15px;
    -webkit-animation:bounce 1s infinite;
}
.popUp_margin{
	margin: -18px 0px 10px;
}
@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
</style>
{{/partial}}

{{>qubercomm/nav-top}}
{{>qubercomm/nav-left}}
{{>qubercomm/wrapper}}